<div class="animated fadeIn">
  <div class="row" >
    <div class="col-lg-12">
      <app-componente-alumno-detalle [alumno]="alumno" *ngIf="alumno"></app-componente-alumno-detalle>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <button 
        class="btn btn-sm btn-outline-info btn-block-xs-only m-1"
        (click)="sedes()">
        <i class="fa fa-building"></i>
        Sedes Asociadas
      </button>
      <button 
        class="btn btn-sm btn-outline-info btn-block-xs-only m-1"
        (click)="password()">
        <i class="fa fa-key"></i>
        Cambiar Contraseña (Acceso a la APP)
      </button>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12">
      <div class="card" *ngIf="alumno">
        <div class="card-header">
          Inscripciones
          <div class="card-header-actions">
            <button class="btn btn-sm btn-block btn-outline-danger" type="button" (click)="inscribir()">
              <i class="fa fa-plus"></i>
              Nueva Inscripción
            </button>
          </div>
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptionsInscripciones" class="table row-border hover" width="100%" *ngIf="dataSource">
              <thead>
                <tr>
                  <th>Agregado</th>
                  <th>Año</th>
                  <th>Usuario</th>
                  <th>Carrera</th>
                  <th>Sede</th>
                  <th>Beca</th>
                  <th>Estado</th>
                  <th>%/Apro</th>
                  <th>P/L</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="dataSource?.length != 0">
                <tr *ngFor="let item of dataSource" class="{{item.estado==0?'bg-danger':''}}">
                  <td>{{ item.created_at | date:'dd/MM/yyyy' }}</td>
                  <td>{{ item.anio }}</td>
                  <td>{{ item.usuario.apellido }} {{item.usuario.nombre}}</td>
                  <td>
                    <p tooltip="{{ item.carrera.departamento.nombre}} - {{ item.carrera.nombre }} - {{item.plan_estudio.anio}}">
                      {{ item.carrera.nombre_corto }} - {{item.plan_estudio.anio}}
                    </p>
                  </td>
                  <td>{{ item.sede?.nombre }}</td>
                  <td>{{ item.beca.nombre }}</td>
                  <td>{{ item.tipo_estado.nombre }}</td>
                  <td class="text-center">
                    {{item.porcentaje_aprobados | number:'1.2-2'}}%
                  </td>
                  <td class="text-center">
                      <span *ngIf="item.periodo" tooltip="{{item.periodo.nombre}}">
                          {{item.periodo.nombre_corto}}
                      </span>
                  </td>
                  <td>
                    <ng-container *ngIf="item.estado">
                        <div class="btn-group" dropdown placement="bottom right" container="body" *ngIf="id_sede == item.id_sede">
                          <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                            <span class="caret"></span>
                          </button>
                          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="menuitem">
                              <a class="dropdown-item" (click)="ver(item)" href="javascript:void(0);">
                                <i class="fa fa-info"></i>
                                Administrar
                              </a>
                              <a class="dropdown-item" (click)="editar(item)" href="javascript:void(0);">
                                <i class="fa fa-edit"></i>
                                Editar
                              </a>
                              <a class="dropdown-item" (click)="eliminar(item)" href="javascript:void(0);" *ngIf="[99,1,2].indexOf(usuario.id_tipo_usuario)>=0">
                                <i class="fa fa-remove"></i>
                                Eliminar
                              </a>
                            </li>
                          </ul>
                        </div>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
              %/Apro: Porcentaje de la carrera aprobada
          </p>
          <p>
              P/L: Periodo/Año lectivo de la inscripcion
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12">
      <div class="card" *ngIf="alumno">
        <div class="card-header">
          Notificaciones
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptionsNotificaciones" class="table row-border hover compact" width="100%" *ngIf="alumno.notificaciones">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Correo Electronico</th>
                  <th>Enviado</th>
                  <th>Visto</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="alumno.notificaciones?.length != 0">
                <tr *ngFor="let item of alumno.notificaciones">
                  <td>{{ item.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
                  <td>{{ item.email }} </td>
                  <td>{{ item.enviado?'SI':'NO' }}</td>
                  <td>{{ item.visto | date:'dd/MM/yyyy HH:mm' }}</td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>