<div class="card" *ngIf="comision">
  <div class="card-header">
    <u>Comision:</u> <b>{{comision.numero}}</b> ({{comision.anio}}) <u>Materia:</u><b>{{comision.materia.codigo}}</b> <u>Fecha:</u><b>{{examen.fecha|date:'dd/MM/yyyy'}}</b>
    <div class="card-header-actions">
      <a  (click)="isCollapsed = !isCollapsed"
        href="javascript:void(0);"
        [attr.aria-expanded]="!isCollapsed" 
        aria-controls="collapseBody">
        <i class="icons cui-chevron-bottom"></i>
      </a>
    </div>
  </div>
  <div class="card-body" id="collapseBody" [collapse]="isCollapsed" >
    <div class="row">
      <div class="form-group col-sm-6">
        <u>Carrera:</u> {{comision.carrera.nombre}}<b>{{comision.carrera.nombre_corto}}</b>
      </div>
      <div class="form-group col-sm-6">
        <u>Plan de estudio:</u> {{comision.materia.plan_estudio.nombre}}<b> ({{comision.materia.plan_estudio.anio}})</b>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <u>Materia:</u> {{comision.materia.nombre}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <u>Responsable de la comision:</u> {{comision.responsable_apellido}} {{comision.responsable_nombre}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <u>Nombre:</u> {{examen.nombre}}
      </div>
      <div class="form-group col-sm-6">
        <u>Tipo:</u> {{examen.tipo.nombre}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <u>Observaciones:</u> {{examen.observaciones}}
      </div>
    </div>
  </div>
</div>