<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Alumnos
          <div class="card-header-actions">
            <button class="btn btn-sm btn-block btn-outline-success" type="button" (click)="nuevo()">
              <i class="fa fa-plus"></i>
              Agregar Nuevo Alumno
            </button>
          </div>
        </div>
        <div class="card-body p-1">
          <div class="row">
            <div class="form-group col-sm-4">
              <label class="control-label">Departamento</label>
              <select 
                class="form-control" 
                (change)="refrescar()"
                [(ngModel)]="request.id_departamento"
                >
                <option value="0">TODOS</option>
                <option *ngFor="let item of departamentos" [value]="item.id" >{{item.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-sm-4">
              <label class="control-label">Tipo Estado</label>
              <select 
                class="form-control"
                (change)="refrescar()"
                [(ngModel)]="request.id_tipo_alumno_estado"
                >
                <option value="0">TODOS</option>
                <option *ngFor="let item of tipos_estado" [value]="item.id" >{{item.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="table-responsive">
            <table #alta datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" >
              <thead>
                <tr>
                  <th>Agregado</th>
                  <th>Nombre y Apellido</th>
                  <th>Documento</th>
                  <th>Estado</th>
                  <th>Faltantes</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="dataSource?.length != 0">
                <tr *ngFor="let item of dataSource" >
                  <td>
                    {{ item.created_at | date:'dd/MM/yyyy' }}
                    <span class="btn badge badge-danger" *ngIf="id_sede != item.id_sede" (click)="alumno_sede(item)">N/Sede</span>
                  </td>
                  <td>{{ item.nombre }} {{ item.apellido }}</td>
                  <td>
                    <ng-container *ngIf="item.tipo_documento">{{item.tipo_documento.nombre}}:&nbsp;</ng-container>{{ item.documento }}
                  </td>
                  <td>{{item.tipo_estado?.nombre}}</td>
                  <td>
                    <ng-container *ngIf="item.archivos_faltantes.length>1 else faltaUno">
                      <ng-template #popTemplate>
                        <ul class="list-group">
                          <li class="list-group-item" *ngFor="let tipo of item.archivos_faltantes; let i = index;">
                            {{ i + 1 }} - {{tipo.nombre}}
                          </li>
                        </ul>
                      </ng-template>
                      <button type="button" class="btn btn-sm py-0 btn-block btn-info"
                        [outsideClick]="true"
                        [popover]="popTemplate" popoverTitle="Faltantes">
                        Mostrar {{ item.archivos_faltantes.length - 1 }}+
                      </button>
                    </ng-container>
                    <ng-template #faltaUno>
                      <div *ngFor="let tipo of item.archivos_faltantes ; let i = index">
                        <small>{{ i + 1 }} - {{tipo.nombre}}</small>
                      </div>
                    </ng-template>
                  </td>
                  <td>
                    <div class="btn-group" dropdown placement="bottom right" container="body" *ngIf="usuario">
                      <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                        <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" >
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="alumno_ver(item)" href="javascript:void(0);">
                            <i class="fa fa-info"></i>
                            Ver
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="ver(item)" href="javascript:void(0);">
                            <i class="fa fa-cog"></i>
                            Gestionar
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="editar(item)" href="javascript:void(0);">
                            <i class="fa fa-edit"></i>
                            Editar
                          </a>
                        </li>
                        <li role="menuitem" *ngIf="[99,1,2].indexOf(usuario.id_tipo_usuario)>=0">
                          <a class="dropdown-item" (click)="eliminar(item)" href="javascript:void(0);">
                            <i class="fa fa-remove"></i>
                            Eliminar
                          </a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="inscribir(item)" href="javascript:void(0);">Nueva Inscripcion</a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="alumno_sede(item)" href="javascript:void(0);">Sedes asociadas</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="dataSource?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
              <div class="col-12">
                  <hr>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <p>
                    <span class="badge badge-danger">N/Sede</span> = El alumno fue registrado en otra sede 
                  </p>
              </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-block-xs-only btn-outline-info"
            type="button"
            color="accent"
            (click)="exportar()">
            <i class="fa fa-file-excel-o"></i>
            Exportar
            </button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Alumnos Eliminados
          <div class="card-header-actions">
            <button class="btn btn-sm btn-block btn-danger" type="button" (click)="auditorias()">AUDITORIA</button>
          </div>
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table #baja datatable [dtOptions]="dtOptionsBaja" class="table row-border hover compact" width="100%" >
              <thead>
                <tr>
                  <th>Eliminado</th>
                  <th>Nombre y Apellido</th>
                  <th>Documento</th>
                  <th class="no-sort">Responsable</th>
                  <th class="no-sort"></th>
                </tr>
              </thead>
              <tbody *ngIf="dataSourceBaja?.length != 0">
                <tr *ngFor="let item of dataSourceBaja">
                  <td>{{ item.deleted_at | date:'dd/MM/yyyy HH:mm' }}</td>
                  <td>{{ item.nombre }} {{ item.apellido }}</td>
                  <td>
                    <ng-container *ngIf="item.tipo_documento">{{item.tipo_documento.nombre}}:&nbsp;</ng-container>{{ item.documento }}
                  </td>
                  <td>
                    {{ item.usuario_baja?.apellido }} {{ item.usuario_baja?.nombre }}
                  </td>
                  <td>
                    <div class="btn-group" dropdown placement="bottom right" container="body" *ngIf="usuario">
                      <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                        <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" >
                        <li role="menuitem" *ngIf="[99,1,2].indexOf(usuario.id_tipo_usuario)>=0">
                          <a class="dropdown-item" (click)="recuperar(item)" href="javascript:void(0);">
                            <i class="fa fa-remove"></i>
                            Recuperar
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="dataSourceBaja?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          
        </div>
      </div>
    </div>
  </div>
</div>
