<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Alumnos
          <div class="card-header-actions">
            <button class="btn btn-block btn-success" type="button" (click)="nuevo()">Agregar Nuevo Alumno</button>
          </div>
        </div>
        <div class="card-body p-1">
          <div class="row">
            <div class="form-group col-sm-4">
              <label class="control-label">Departamento</label>
              <select 
                class="form-control" 
                (change)="refrescar()"
                [(ngModel)]="request.id_departamento"
                >
                <option value="0">TODOS</option>
                <option *ngFor="let item of departamentos" [value]="item.id" >{{item.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-sm-4">
              <label class="control-label">Tipo Estado</label>
              <select 
                class="form-control"
                (change)="refrescar()"
                [(ngModel)]="request.id_tipo_alumno_estado"
                >
                <option value="0">TODOS</option>
                <option *ngFor="let item of tipos_estado" [value]="item.id" >{{item.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" >
              <thead>
                <tr>
                  <th>Agregado</th>
                  <th>Nombre y Apellido</th>
                  <th>Documento</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="dataSource?.length != 0">
                <tr *ngFor="let item of dataSource" class="{{item.estado==0?'bg-danger':''}}">
                  <td>{{ item.created_at | date:'dd/MM/yyyy' }}</td>
                  <td>{{ item.nombre }} {{ item.apellido }}</td>
                  <td><div *ngIf="item.tipo_documento">{{item.tipo_documento.nombre}}:</div>{{ item.documento }}</td>
                  <td>{{item.tipo_estado?.nombre}}</td>
                  <td>
                    <div class="btn-group" dropdown placement="bottom right" container="body" *ngIf="usuario">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" >
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="ver(item)" href="javascript:void(0);">Mas Informacion</a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="editar(item)" href="javascript:void(0);">Editar</a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="inscribir(item)" href="javascript:void(0);">Nueva Inscripcion</a>
                        </li>
                        <li role="menuitem" *ngIf="[99,1,2].indexOf(usuario.id_tipo_usuario)>=0">
                          <a class="dropdown-item" (click)="eliminar(item)" href="javascript:void(0);">Eliminar</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="dataSource?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-block-xs-only btn-danger"
            type="button"
            color="accent"
            (click)="exportar()">
            Exportar
            </button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
