<div class="animated fadeIn">
  <div class="row" >
    <div class="col-lg-12">
      <app-componente-alumno-detalle 
        [alumno]="inscripcion.alumno"
        [collapsed]="true"
        *ngIf="inscripcion">
      </app-componente-alumno-detalle>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12">
      <app-componente-carrera-detalle 
        [plan_estudio]="inscripcion.plan_estudio" 
        [carrera]="inscripcion.carrera" 
        [collapsed]="true"
        *ngIf="inscripcion">
      </app-componente-carrera-detalle>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Comisiones inscriptas
          <div class="card-header-actions">
            <button class="btn btn-block btn-sm btn-success" type="button" (click)="nuevo()">Inscribir a nueva comision</button>
          </div>
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table table-sm row-border hover" width="100%" *ngIf="dataSource">
              <thead>
                <tr>
                  <th>Año</th>
                  <th class="text-center">N°</th>
                  <th>Materia</th>
                  <th class="text-center">Inscriptos</th>
                  <th class="text-center">Nota</th>
                  <th>Condicion</th>
                  <th class="text-center">
                    A/E
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="dataSource?.length != 0">
                <tr *ngFor="let item of dataSource">
                  <td>{{ item.comision.anio }}</td>
                  <td class="text-center">{{ item.comision.numero }}</td>
                  <td>{{ item.comision.materia.nombre }}</td>
                  <td class="text-center">{{ item.comision.alumnos_cantidad }}</td>
                  <td class="text-center">{{ item.nota }}</td>
                  <td>{{ item.tipo?.nombre }}</td>
                  <td class="text-center">
                    {{ item.asistencia_presente_promedio| number:'1.2-2':'es-AR' }}% / {{ item.examen_presente_promedio| number:'1.2-2':'es-AR' }}%
                  </td>
                  <td>
                    <button 
                      class="btn btn-sm btn-primary"
                      tooltip="ir a la Comision"
                      (click)="comision(item)">
                      <span class="fa fa-eye" ></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-12">
              <p>A/E= Promedio de asistencias y examenes presentes</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-block-xs-only btn-sm btn-secondary m-1"
            type="submit"
            (click)="volver()">
            Administrar Inscripción
            </button>
          <button class="btn btn-block-xs-only btn-sm btn-primary m-1"
            type="submit"
            (click)="asistencias()">
            Consultar Asistencias
            </button>
          <button class="btn btn-block-xs-only btn-sm btn-primary m-1"
            type="submit"
            (click)="examenes()">
            Consultar Examenes
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
  