<div *ngIf="plan_pago">
  <app-plan-pago-detalle-component
    [plan_pago]="plan_pago">
  </app-plan-pago-detalle-component>
  <div class="row" *ngIf="pago">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>
          Imputacion del pago nro.:<b>{{("0000000"+pago.numero).slice(-8)}}</b>
          <ng-container *ngIf="pago.numero_oficial"> nro. R:<b>{{pago.numero_oficial}}</b></ng-container>
          
        </div>
        <div class="card-body p-1">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="dataSource">
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Concepto</th>
                      <th>Monto</th>
                      <th>Pago parcial</th>
                      <th>Saldo actual</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="dataSource?.length != 0">
                    <tr *ngFor="let item of dataSource" class="{{!item.estado?'bg-danger':''}}">
                      <td>{{ item.obligacion.fecha_vencimiento | date:'dd/MM/yyyy' }}</td>
                      <td>{{ item.obligacion.descripcion}}</td>
                      <td>
                          ${{ item.obligacion.monto | number:'1.2-2':'es-AR' }}
                      </td>
                      <td>
                          ${{ item.monto | number:'1.2-2':'es-AR' }}
                      </td>
                      <td>
                          ${{ item.obligacion.saldo | number:'1.2-2':'es-AR' }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-secondary btn-block-xs-only m-1" (click)="volver()">VOLVER</button>
          <button type="button" class="btn btn-secondary btn-block-xs-only m-1" (click)="cuenta()">CUENTA CORRIENTE</button>
          <button type="button" class="btn btn-danger btn-block-xs-only m-1" (click)="reporte()">DESCARGAR</button>
          <button type="button" class="btn btn-info btn-block-xs-only m-1" (click)="imprimir()">IMPRIMIR</button>
        </div>
      </div>
    </div>
  </div>
</div>