<div class="card" *ngIf="comision">
  <div class="card-header">
    <u>Comision:</u> <b>{{comision.numero}}</b> ({{comision.anio}}) <u>Materia:</u><b>{{comision.materia.codigo}}</b>
    <div class="card-header-actions">
      <a  (click)="isCollapsed = !isCollapsed"
        href="javascript:void(0);"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseBody">
        <i class="icons cui-chevron-bottom"></i>
      </a>
    </div>
  </div>
  <div class="card-body" id="collapseBody" [collapse]="isCollapsed" >
    <div class="row">
      <div class="form-group col-sm-6">
        <u>Carrera:</u> {{comision.carrera.nombre}}<b>{{comision.carrera.nombre_corto}}</b>
      </div>
      <div class="form-group col-sm-6">
        <u>Plan de estudio:</u> {{comision.materia.plan_estudio.nombre}}<b> ({{comision.materia.plan_estudio.anio}})</b>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <u>Materia:</u> {{comision.materia.nombre}}
      </div>
      <div class="form-group col-sm-6">
        <u>Responsable:</u> {{comision.responsable_apellido}} {{comision.responsable_nombre}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <u>Cantidad de alumnos:</u> {{comision.alumnos_cantidad}}
      </div>
      <div class="form-group col-sm-6" >
        <u>Automatizacion de Asistencia:</u> {{comision.asistencia?'Habilitado':'Deshabilitado'}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4" *ngIf="comision.clase_inicio">
        <u>Inicio de clases:</u> {{comision.clase_inicio | date:'dd/MM/yy'}}
      </div>
      <div class="form-group col-sm-4" *ngIf="comision.clase_final">
        <u>Finalizacion de clases:</u> {{comision.clase_final | date:'dd/MM/yy'}}
      </div>
      <div class="form-group col-sm-4" *ngIf="comision.id_aula_virtual">
        <u>Id Aula Virtual:</u> {{comision.id_aula_virtual}}
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-secondary btn-block-xs-only m-1"
      (click)="editar()">
      <i class="fa fa-edit"></i>
      Editar
      </button>
  </div>
</div>
