<div class="modal-header">
  <h4 class="modal-title pull-left">Detalle <b *ngIf="item">- {{item?.tipo?.nombre}}</b> </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="item">
  <div class="row" *ngIf="item.id_tipo_obligacion == 1">
    <div class="col-lg-6">
      <p>Fecha: {{ item.fecha | date:'dd MMMM yyyy' }}</p>
    </div>
    <div class="col-lg-6">
      <p>Vto.: {{ item.fecha_vencimiento | date:'dd MMMM yyyy' }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Monto: <b>${{ item.monto | number:'1.2-2':'es-AR' }}</b></p>
    </div>
    <div class="col-lg-4">
      <p>Saldo: <b>${{ item.saldo | number:'1.2-2':'es-AR' }}</b></p>
    </div>
    <div class="col-lg-4">
      <p>Pagado: <b>${{ item.saldo | number:'1.2-2':'es-AR' }}</b></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>Concepto: {{item.descripcion}}</p>
    </div>
  </div>
  <h2 class="pl-2">
    Pagos
    <button type="button" class="btn btn-info btn-sm" 
      (click)="abrirFormularioMercadoPago()" 
      *ngIf="!item.mercadopago && !isFormularioMercadoPago && item.id_tipo_obligacion == 1 && item.saldo>0">
      GENERAR MERCADOPAGO
    </button>
  </h2>
  <form [formGroup]="formulario" *ngIf="isFormularioMercadoPago" class="mx-5 my-2">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center">Formulario para generar preferencia con MERCADOPAGO</h4>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label class="control-label">Monto</label>
        <input 
          formControlName="monto"
          type="number" 
          class="form-control {{ (f.monto.touched || f.monto.dirty)?(( f.monto.invalid )?'is-invalid':'is-valid'):''}}">
        <div *ngIf= " f.monto.touched || f.monto.dirty " class="invalid-feedback">
          <span *ngIf="f.monto.hasError('required')" class="help-block">
            El monto es requerido
          </span>
          <span *ngIf="f.monto.hasError('min')" class="help-block">
            El monto debe ser mayor que cero
          </span>
        </div>
      </div>
      <div class="form-group col-sm-9">
        <label class="control-label">Correo Electronico</label>
        <input 
          formControlName="email"
          type="email" 
          class="form-control {{ (f.email.touched || f.email.dirty)?(( f.email.invalid )?'is-invalid':'is-valid'):''}}"
          placeholder="prueba@prueba.com">
        <div *ngIf= " f.email.touched || f.email.dirty " class="invalid-feedback">
          <span *ngIf="f.email.hasError('required')" class="help-block">
            El email es requerido
          </span>
          <span *ngIf="f.monto.hasError('min')" class="help-block">
            El email debe ser valido
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <label class="control-label">Observaciones</label>
        <textarea formControlName="observaciones" 
          class="form-control {{ (f.observaciones.touched || f.observaciones.dirty)?(( f.observaciones.invalid )?'is-invalid':'is-valid'):''}}" 
          rows="2"></textarea>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="generarPreferenciaMercadoPago()" [disabled]="!formulario.valid">GENERAR PREFERENCIA</button>
  </form>
  <div class="card text-white mx-5 my-2 bg-secondary" *ngIf="item.mercadopago">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="card-title mb-0">Preferencia de MERCADO PAGO</h5>
        <button ngxClipboard type="button" class="btn btn-sm btn-success" [cbContent]="item.mercadopago.preference_url" (cbOnSuccess)="copied($event)">LINK DE PAGO</button>
      </div>
      <p class="card-text" *ngIf="item.mercadopago.fecha_pagado">
        Fecha de imputación: <b>{{item.mercadopago.fecha_pagado | date:'dd/MM/yyyy'}}</b>
      </p>
      <p class="card-text">
        Fecha de creacion: {{item.mercadopago.created_at | date:'dd/MM/yyyy'}}<br>
        Monto a cobrar: ${{item.mercadopago.monto | number:'1.2-2':'es-AR'}}<br>
        Observaciones: {{item.mercadopago.observaciones }}<br>
        Enviado a: {{item.mercadopago.email}}
      </p>
      <p class="card-text">Estado: 
        <b *ngIf="!item.mercadopago.payment_status">No ha seleccionado ningun medio de pago</b>
        <b *ngIf="item.mercadopago.payment_status">{{ item.mercadopago.payment_status }}</b>
      </p>
      <!--
      <button type="button" class="btn btn-sm btn-danger" (click)="eliminarPreferenciaMercadoPago()" [disabled]="consultando">DESCARTAR PREFERENCIA</button>
      -->
    </div>
  </div>
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="dataSource">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Descripcion</th>
          <th>Pago</th>
          <th>Imputado</th>
        </tr>
      </thead>
      <tbody *ngIf="dataSource?.length != 0">
        <tr *ngFor="let item of dataSource" class="{{!item.estado?'bg-danger':''}}">
          <td>{{ item.pago.fecha | date:'dd/MM/yyyy' }}</td>
          <td>{{ item.pago.descripcion}}</td>
          <td>
              ${{ item.pago.monto | number:'1.2-2':'es-AR' }}
          </td>
          <td>
              ${{ item.monto | number:'1.2-2':'es-AR' }} 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-container *ngIf="item.interes && item.interes.monto>0 else sinInteres">
    <div class="row" >
      <div class="col-lg-12">
        <h2 class="pl-2">Interes</h2>
        <p>Concepto: {{item.interes.descripcion}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Monto: <b>${{ item.interes.monto | number:'1.2-2':'es-AR' }}</b></p>
      </div>
      <div class="col-lg-4">
        <p>Saldo: <b>${{ item.interes.saldo | number:'1.2-2':'es-AR' }}</b></p>
      </div>
      <div class="col-lg-4">
        <p>Pagado: <b>${{ item.interes.pagado | number:'1.2-2':'es-AR' }}</b></p>
      </div>
    </div>
  </ng-container>
  <ng-template #sinInteres >
    <div class="row" *ngIf="item.id_tipo_obligacion == 1">
      <div class="col-lg-12">
        <h2 class="pl-2">Sin intereses</h2>
      </div>
    </div>
  </ng-template>
  <ng-container *ngIf="item.obligacion">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="pl-2">Obligación</h2>
        <p>{{item.obligacion.descripcion}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>Fecha: {{ item.obligacion.fecha | date:'dd MMMM yyyy' }}</p>
      </div>
      <div class="col-lg-6">
        <p>Vto.: {{ item.obligacion.fecha_vencimiento | date:'dd MMMM yyyy' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Monto: <b>${{ item.obligacion.monto | number:'1.2-2':'es-AR' }}</b></p>
      </div>
      <div class="col-lg-4">
        <p>Saldo: <b>${{ item.obligacion.saldo | number:'1.2-2':'es-AR' }}</b></p>
      </div>
      <div class="col-lg-4">
        <p>Pagado: <b>${{ item.obligacion.pagado | number:'1.2-2':'es-AR' }}</b></p>
      </div>
    </div>
  </ng-container>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancelar()">Cerrar</button>
</div>