<div class="modal-header">
  <h4 class="modal-title pull-left">Mesa de examen - Materia</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formulario" >
    <div class="row" *ngIf="id==0">
      <div class="form-group col-sm-8">
        <label class="control-label">Carrera</label>
        <ng-select [items]="carreras"
          [selectOnTab]="true"
          (change)="seleccionar_carrera($event)"
          placeholder="Seleccione la Carrera"
          formControlName="id_carrera"
          bindValue="id"
          bindLabel="nombre"
          [clearable]="false">
        </ng-select>
      </div>
      <div class="form-group col-sm-4">
        <label class="control-label">Plan estudio</label>
        <ng-select [items]="planes_estudio"
          [selectOnTab]="true"
          (change)="seleccionar_plan_estudio($event)"
          placeholder="Seleccione el Plan"
          formControlName="id_plan_estudio"
          bindValue="id"
          bindLabel="codigo"
          [clearable]="false">
        </ng-select>
      </div>
    </div>
    <div class="row" *ngIf="id==0">
      <div class="form-group col-sm-6">
        <label class="control-label">Materia (*)</label>
        <ng-select [items]="materias"
          [selectOnTab]="true"
          bindValue="id"
          bindLabel="nombre"
          notFoundText="No hay materias en la carrera seleccionada"
          placeholder="Seleccione la Materia"
          formControlName="id_materia"
          [clearable]="false">
        </ng-select>
      </div>
    </div>
    <div class="row" *ngIf="id>0">
      <div class="form-group col-sm-6" *ngIf="carrera">
        <label class="control-label">Carrera </label>
        <p>{{carrera.nombre}} ({{carrera.nombre_corto}})</p>
      </div>
      <div class="form-group col-sm-6" *ngIf="materia">
        <label class="control-label">Materia</label>
        <p>{{materia.nombre}} ({{materia.codigo}})</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4" >
        <label class="control-label">Fecha provista (*)</label>
        <input bsDatepicker
          required
          [minDate]="fecha_inicio"
          formControlName="fecha"
          type="text" 
          class="form-control {{ (f.fecha.touched || f.fecha.dirty)?(f.fecha.invalid ?'is-invalid':'is-valid'):''}}" 
          placeholder="Fecha">
        <div *ngIf= " (f.fecha.touched || f.fecha.dirty) && f.fecha.invalid " class="invalid-feedback">
          <span *ngIf="formulario.get('fecha').hasError('required')" class="help-block">
            La fecha y hora son requeridos
          </span>
        </div>
      </div>
      <div class="form-group col-sm-4" >
        <label class="control-label">Hora realizacion (*)</label>
        <timepicker 
          required
          formControlName="hora"
          [showMeridian]="false" 
          [showSpinners]="false">
        </timepicker>
        <div *ngIf= " (f.hora.touched || f.hora.dirty) && f.hora.invalid " class="invalid-feedback">
          <span *ngIf="formulario.get('hora').hasError('required')" class="help-block">
            La hora es necesaria
          </span>
        </div>
      </div>
      <div class="form-group col-sm-4" >
        <label class="control-label">Fecha cierre</label>
        <input bsDatepicker
          [minDate]="fecha_inicio"
          formControlName="fecha_cierre"
          type="text" 
          class="form-control" 
          placeholder="Fecha">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label">Ubicacion</label>
        <input
          formControlName="ubicacion"
          type="text" 
          class="form-control" 
          placeholder="Ubicacion">
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label">Libro</label>
        <input
          formControlName="libro"
          type="text" 
          class="form-control">
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label">Folio</label>
        <input
          formControlName="folio"
          type="text" 
          class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label class="control-label">Observaciones</label>
        <input
          formControlName="observaciones"
          type="text" 
          class="form-control">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancelar()">Cerrar</button>
  <button 
    [disabled]="!formulario.valid"
    type="button" 
    class="btn btn-primary" 
    (click)="confirmar()">Guardar</button>
</div>