<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>{{titulo}}</strong>
          <small> Formulario</small>
        </div>
        <div class="card-body">
          <form [formGroup]="formulario" >
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Nombre (*)</label>
                <input 
                  required
                  formControlName="nombre"
                  type="text" 
                  class="form-control {{ (f.nombre.touched || f.nombre.dirty)?(f.nombre.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Nombre">
                <span *ngIf="formulario.get('nombre').hasError('required')" class="help-block">
                  El nombre es requerido
                </span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Descuento a Cuota (*)</label>
                <div class="input-group mb-2 mr-sm-2">
                  <input 
                    formControlName="porcentaje"
                    type="number" 
                    class="form-control text-right {{ (f.porcentaje.touched || f.porcentaje.dirty)?(f.porcentaje.invalid?'is-invalid':'is-valid'):''}}"
                    placeholder="0.00">
                  <div class="input-group-addon">
                    <div class="input-group-text">%</div>
                  </div>
                </div>
                <span *ngIf="formulario.get('porcentaje').hasError('required')" class="help-block">
                  El descuento a cuota es requerido
                </span>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Descuento a Matricula (*)</label>
                <div class="input-group mb-2 mr-sm-2">
                  <input 
                  formControlName="porcentaje_matricula"
                  type="number" 
                  class="form-control text-right {{ (f.porcentaje_matricula.touched || f.porcentaje_matricula.dirty)?(f.porcentaje_matricula.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="0.00">
                  <div class="input-group-addon">
                    <div class="input-group-text">%</div>
                  </div>
                </div>
                <span *ngIf="formulario.get('porcentaje_matricula').hasError('required')" class="help-block">
                  El descuento a matricula es requerido
                </span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label class="control-label">Descripcion</label>
                <input 
                  formControlName="descripcion"
                  type="text" 
                  class="form-control {{ (f.descripcion.touched || f.descripcion.dirty)?(f.descripcion.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Descripcion">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-block-xs-only m-1 btn-success"
            type="submit"
            color="accent"
            (click)="continuar()"
            [disabled]="!formulario.valid">
            Guardar Cambios
            </button>
          <button class="btn btn-block-xs-only m-1"
            (click)="volver()">
            Volver
            </button>
          <small *ngIf="!formulario.valid && formulario.touched">Existen campos invalidos, por favor revise.</small>
        </div>
      </div>  
    </div>
  </div>
</div>
  