<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Listado de Comisiones
                <div class="card-header-actions">
                  <div class="btn-group" dropdown placement="top right" container="body">
                    <button dropdownToggle type="button" class="btn btn-sm btn-danger dropdown-toggle">
                      Agregar Nueva Comision&nbsp;<i class="icon-settings"></i>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                      <li role="menuitem">
                        <a class="dropdown-item" (click)="masivo()" href="javascript:void(0);">
                          Masivo
                        </a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" (click)="nuevo()" href="javascript:void(0);">
                          Simple
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body p-1">
                <div class="row">
                  <div class="form-group col-sm-4">
                      <label class="control-label">Departamento</label>
                      <select
                          class="form-control"
                          (change)="refrescar()"
                          [(ngModel)]="request.id_departamento"
                          >
                          <option value="0">TODOS</option>
                          <option *ngFor="let item of departamentos" [value]="item.id" >{{item.nombre}}</option>
                      </select>
                  </div>
                  <div class="form-group col-sm-8">
                      <label class="control-label">Carrera</label>
                      <ng-select [items]="carreras"
                          [selectOnTab]="true"
                          bindValue="id"
                          bindLabel="nombre"
                          (ngModelChange)="refrescar()"
                          placeholder="Seleccione la Carrera"
                          [(ngModel)]="request.id_carrera"
                          [clearable]="false">
                      </ng-select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-2">
                    <label class="control-label">Año</label>
                    <ng-select [items]="anios"
                        [selectOnTab]="true"
                        bindValue="value"
                        (ngModelChange)="refrescar()"
                        placeholder="Seleccione el Año"
                        [(ngModel)]="request.anio"
                        [clearable]="false">
                    </ng-select>
                  </div>
                </div>
                <div class="table-responsive">
                    <table #principal datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" >
                    <thead>
                        <tr>
                          <th>Registro</th>
                          <th>Año</th>
                          <th>Carrera</th>
                          <th>Materia</th>
                          <th class="text-center">Numero</th>
                          <th class="text-center">Alumnos</th>
                          <th></th>
                        </tr>
                    </thead>
                      <tbody *ngIf="dataSource?.length != 0">
                        <tr *ngFor="let item of dataSource" >
                        <td>{{ item.created_at | date:'dd/MM/yy' }}</td>
                        <td>{{ item.anio }}</td>
                        <td>
                          <small>
                            {{ item.carrera.nombre }} ({{item.materia.plan_estudio.anio}})
                          </small>
                        </td>
                        <td>{{ item.materia.nombre }} ({{ item.materia.codigo }})</td>
                        <td class="text-center">{{item.numero}}</td>
                        <td class="text-center">{{item.alumnos_cantidad}}</td>
                        <td>
                          <div class="btn-group" dropdown placement="bottom right" container="body">
                            <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                              <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                              <li role="menuitem">
                                <a class="dropdown-item" (click)="ver(item)" href="javascript:void(0);">
                                  <i class="fa fa-cog"></i>
                                  Gestionar
                                </a>
                              </li>
                              <li role="menuitem">
                                <a class="dropdown-item" (click)="editar(item)" href="javascript:void(0);">
                                  <i class="fa fa-edit"></i>
                                  Editar
                                </a>
                              </li>
                              <li role="menuitem">
                                <a class="dropdown-item" (click)="eliminar(item)" href="javascript:void(0);" *ngIf="[1].indexOf(usuario.id_tipo_usuario)>=0">
                                  <i class="fa fa-remove"></i>
                                  Eliminar
                                </a>
                              </li>
                              <li class="divider dropdown-divider"></li>
                              <li role="menuitem">
                                <a class="dropdown-item" (click)="asistencias(item)" href="javascript:void(0);">
                                  Asistencias
                                </a>
                              </li>
                              <li role="menuitem">
                                <a class="dropdown-item" (click)="examenes(item)" href="javascript:void(0);">
                                  Examenes
                                </a>
                              </li>
                              <li role="menuitem">
                                <a class="dropdown-item" (click)="docentes(item)" href="javascript:void(0);">
                                  Docentes
                                </a>
                              </li>
                            </ul>
                          </div>
                        </td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="dataSource?.length == 0">
                        <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-block-xs-only btn-outline-info"
                  type="button"
                  color="accent"
                  (click)="exportar()">
                  <i class="fa fa-file-excel-o"></i>
                  Exportar
                  </button>
              </div>
          </div>
      </div>
      <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Ultimos docentes asociados
        </div>
        <div class="card-body p-1">
          <div class="table-responsive secundario">
            <table #principal datatable [dtOptions]="dtOptionsDocente" class="table row-border hover compact" width="100%">
              <thead>
                  <tr>
                    <th>Registro</th>
                    <th class="no-sort">CUIT</th>
                    <th class="no-sort">Docente</th>
                    <th class="no-sort">Materia</th>
                    <th class="no-sort">Comision</th>
                  </tr>
              </thead>
              <tbody *ngIf="dataSourceDocente?.length != 0">
                <tr *ngFor="let item of dataSourceDocente" >
                  <td>{{ item.created_at | date:'dd/MM/yy' }}</td>
                  <td>{{ item.docente.cuit }}</td>
                  <td>{{ item.docente.usuario.apellido }} ({{ item.docente.usuario.nombre }})</td>
                  <td>{{ item.comision.materia.nombre }} ({{ item.comision.materia.codigo }})</td>
                  <td>{{ item.comision.numero }}</td>
                  <td>{{ item.alumnos_cantidad }}</td>
                </tr>
              </tbody>
              <tbody *ngIf="dataSourceDocente?.length == 0">
                  <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Ultimos alumnos asociados
        </div>
        <div class="card-body p-1">
          <div class="table-responsive secundario">
            <table #principal datatable [dtOptions]="dtOptionsAlumno" class="table row-border hover compact" width="100%" >
              <thead>
                  <tr>
                    <th>Registro</th>
                    <th class="no-sort">Documento</th>
                    <th class="no-sort">Alumno</th>
                    <th class="no-sort">Materia</th>
                    <th class="no-sort">Comision</th>
                  </tr>
              </thead>
              <tbody *ngIf="dataSourceAlumno?.length != 0">
                <tr *ngFor="let item of dataSourceAlumno" >
                  <td>{{ item.created_at | date:'dd/MM/yy' }}</td>
                  <td>{{item.alumno.tipo_documento?.nombre}}:&nbsp;{{ item.alumno.documento }}</td>
                  <td>{{ item.alumno.apellido }} ({{ item.alumno.nombre }})</td>
                  <td>{{ item.comision.materia.nombre }} ({{ item.comision.materia.codigo }})</td>
                  <td>{{ item.comision.numero }}</td>
                  <td>{{ item.alumnos_cantidad }}</td>
                </tr>
              </tbody>
              <tbody *ngIf="dataSourceAlumno?.length == 0">
                  <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
