<div class="animated fadeIn">
  <div class="row" >
    <div class="col-lg-6">
      <app-componente-alumno-detalle 
        [alumno]="inscripcion.alumno"
        [collapsed]="true"
        *ngIf="inscripcion">
      </app-componente-alumno-detalle>
      <app-componente-carrera-detalle 
        [plan_estudio]="inscripcion.plan_estudio" 
        [carrera]="inscripcion.carrera" 
        [collapsed]="true"
        *ngIf="inscripcion">
      </app-componente-carrera-detalle>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header" *ngIf="anios.length>1">
          <div class="card-header-actions">
            <div class="col-4">
              <select
                (change)="rendimientos()"
                [(ngModel)]="anio"
                >
                <option *ngFor="let item of anios" [value]="item" >{{item}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-content">
          <canvas #rendimientosLineCanvas></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button 
        (click)="ver_alumno()"
        class="btn btn-success btn-block-xs-only m-1">
        <i class="fa fa-cog"></i>
        Gestionar Alumno
      </button>

      <div class="btn-group btn-block-xs-only m-1" dropdown container="body">
        <button 
          (click)="comisiones()" 
          type="button" 
          class="btn btn-danger " 
          tooltip="Listado de comisiones inscriptas">
          Comisiones
        </button>
        <button 
          tooltip="Inscribirse en una comision"
          id="button-split" type="button" dropdownToggle class="btn btn-danger">
                <i class="fa fa-plus"></i>
        </button>
        <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-split">
          <li role="menuitem">
            <a class="dropdown-item" (click)="comisiones_masivo()" href="javascript:void(0);">
              Multiple
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="comisiones_nuevo()" href="javascript:void(0);">
              Simple
            </a>
          </li>
        </ul>
      </div>

      <div class="btn-group btn-block-xs-only m-1" dropdown container="body">
        <button 
          (click)="mesas_examenes()" 
          type="button" 
          class="btn btn-danger " 
          tooltip="Listado de mesas de examenes inscriptas">
          Mesas de examenes
        </button>
        <button 
          tooltip="Inscribirse en una nueva mesa de examen"
          id="button-split" type="button" dropdownToggle class="btn btn-danger">
                <i class="fa fa-plus"></i>
        </button>
        <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-split">
          <li role="menuitem">
            <a class="dropdown-item" (click)="mesas_examenes_masivo()" href="javascript:void(0);">
              Multiple
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="mesas_examenes_nuevo()" href="javascript:void(0);">
              Simple
            </a>
          </li>
        </ul>
      </div>
      
      <button 
        (click)="notas()"
        class="btn btn-danger btn-block-xs-only m-1" tooltip="Listado de notas del sistema viejo">
        <i class="fa fa-cog"></i>
        Notas (Viejo)
      </button>
      <button 
        (click)="nuevo_tramite()"
        class="btn btn-info btn-block-xs-only m-1" tooltip="Generar un nuevo tramite">
        <i class="fa fa-window-restore" aria-hidden="true"></i>
        Nuevo Tramite
      </button>
      <button 
        (click)="pagos_inscripcion()" 
        class="btn btn-info btn-block-xs-only m-1" tooltip="Listado de todos los pagos realizados">
        <i class="fa fa-window-restore" aria-hidden="true"></i>
        Listado de Pagos
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card" *ngIf="inscripcion">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Inscripcion
          <div class="card-header-actions">
            <button 
              (click)="editar()"
              class="btn btn-outline-success btn-sm">
              <i class="fa fa-edit"></i>
              Editar
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-5">
              <u>Año:</u> {{inscripcion.anio}}
            </div>
            <div class="form-group col-sm-7">
              <u>Modalidad:</u> {{inscripcion.modalidad.nombre}}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <u>Beca:</u> {{inscripcion.beca_nombre}} <ng-container *ngIf="inscripcion.beca_porcentaje>0">({{inscripcion.beca_porcentaje| number:'1.2-2':'es-AR' }}%)</ng-container>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <u>%/A:</u>{{inscripcion.porcentaje_aprobados | number:'1.2-2'}}%
            </div>
            <div class="form-group col-sm-4">
              <u>P/L:</u>
              <span *ngIf="inscripcion.periodo" tooltip="{{inscripcion.periodo.nombre}}">
                {{inscripcion.periodo.nombre_corto}}
              </span>
            </div>
            <div class="form-group col-sm-4">
              <u>Prom:</u>{{inscripcion.final_promedio | number:'1.2-2'}}%
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <u>Observaciones:</u> {{inscripcion.observaciones}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Estado de la Inscripción
          <div class="card-header-actions">
            <button class="btn btn-sm btn-outline-info" type="button" (click)="onClickInscripcionEstado()">
              LISTADO
            </button>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="formulario" >
            <div class="row">
              <div class="form-group col-lg-12">
                <label class="control-label">Estado de la inscripcion</label>
                <select 
                  class="form-control"
                  formControlName="id_tipo_inscripcion_estado">
                  <option *ngFor="let item of tipos_estado" [value]="item.id">{{item.nombre}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-block-xs-only m-1 btn-outline-success"
            type="submit"
            color="accent"
            (click)="continuar()"
            [disabled]="!formulario.valid">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            CAMBIAR ESTADO
            </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Documentación/Reportes
        </div>
        <div class="card-body">
          <form [formGroup]="formulario" >
            <div class="row">
              <div class="col-12">
                <label class="control-label">
                  Ficha Inscripción:
                </label>
                <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-sm btn-info" (click)="ficha_reporte()" tooltip="Ficha de inscripción" [disabled]="consultando">
                    <i class="fa fa-download"></i>
                    DESCARGAR
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary" (click)="ficha_imprimir()" tooltip="IMPRIMIR" [disabled]="consultando">
                    <i class="fa fa-print"></i>
                  </button>
                </div>
                <hr class="m-1">
              </div>
              <div class="col-12">
                <label class="control-label">Const. Regular: </label>
                <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-sm btn-info" (click)="constancia_reporte()" tooltip="Constancia regular" [disabled]="consultando">
                    <i class="fa fa-download"></i>
                    DESCARGAR
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary" (click)="constancia_imprimir()" tooltip="IMPRIMIR" [disabled]="consultando">
                    <i class="fa fa-print"></i>
                  </button>
                </div>
                <hr class="m-1">
              </div>
              <div class="col-12">
                <label class="control-label">Cert. Analitico: </label>
                <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-sm btn-info" (click)="analitico_reporte()" tooltip="Certificado Analitico" [disabled]="consultando">
                    <i class="fa fa-download"></i>
                    DESCARGAR
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary" (click)="analitico_imprimir()" tooltip="IMPRIMIR" [disabled]="consultando">
                    <i class="fa fa-print"></i>
                  </button>
                </div>
                <hr class="m-1">
              </div>
              <div class="col-12">
                <label class="control-label">Const. Cursadas: </label>
                <div class="btn-group pull-right" role="group">
                  <button type="button" class="btn btn-sm btn-info" (click)="cursadas_reporte()" tooltip="Constancia de materias Cursadas" [disabled]="consultando">
                    <i class="fa fa-download"></i>
                    DESCARGAR
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary" (click)="cursadas_imprimir()" tooltip="IMPRIMIR" [disabled]="consultando">
                    <i class="fa fa-print"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Planes de Pago
          <div class="card-header-actions">
            <button class="btn btn-sm btn-outline-danger" type="button" (click)="nuevo_plan()">
              <i class="fa fa-cog"></i>
              GENERAR NUEVO PLAN DE PAGOS
            </button>
          </div>
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="dataSource">
              <thead>
                <tr>
                  <th>Año</th>
                  <th class="dt-center">Matricula(Pagado)</th>
                  <th class="dt-center">Pagado</th>
                  <th class="dt-center">Cuota Total</th>
                  <th class="dt-center">Saldo Total</th>
                  <th class="dt-center">Interes Total</th>
                  <th class="dt-center">Saldo a Hoy</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="dataSource?.length != 0">
                <tr *ngFor="let item of dataSource" class="{{item.estado==0?'bg-danger':''}}">
                  <td >{{ item.anio }}</td>
                  <td class="dt-center">
                    ${{ item.matricula_monto | number:'1.2-2':'es-AR' }}
                    (${{ item.matricula_pagado | number:'1.2-2':'es-AR' }})
                  </td>
                  <td class="dt-center">${{ item.pagado | number:'1.2-2':'es-AR' }}</td>
                  <td class="dt-center">${{ item.cuota_total | number:'1.2-2':'es-AR' }}</td>
                  <td class="dt-center">${{ item.saldo_total | number:'1.2-2':'es-AR' }}</td>
                  <td class="dt-center">${{ item.interes_total | number:'1.2-2':'es-AR' }}</td>
                  <td class="dt-center">${{ item.saldo_hoy | number:'1.2-2':'es-AR' }}</td>
                  <td>
                    <ng-container *ngIf="item.estado">
                      <button 
                        class="btn btn-sm btn-primary"
                        tooltip="Mas informacion"
                        (click)="plan_pago_ver(item)">
                        <ng-container *ngIf="plan_pago">
                          <ng-container *ngIf="item.id == plan_pago.id">
                            EN CURSO
                          </ng-container>
                          <span class="fa fa-eye" *ngIf="item.id != plan_pago.id"></span>
                        </ng-container>
                        <ng-container *ngIf="!plan_pago">
                          SALDADO
                        </ng-container>
                      </button>
                      <button 
                        class="btn btn-sm btn-primary"
                        tooltip="Editar"
                        (click)="plan_pago_editar(item)">
                        <span class="fa fa-edit" ></span>
                      </button>
                      <button 
                        class="btn btn-sm btn-danger"
                        tooltip="Eliminar"
                        (click)="plan_pago_eliminar(item)">
                        <span class="fa fa-trash" ></span>
                      </button>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card" *ngIf="plan_pago">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Cuenta Corriente {{plan_pago.anio}} en CURSO
          <div class="card-header-actions">
            <button 
              tooltip="Ver los pagos realizados en la cuenta corriente"
              class="btn btn-outline-info btn-sm m-1" 
              type="button" 
              (click)="pagos()">
              <i class="fa fa-window-restore" aria-hidden="true"></i>
              VER PAGOS
            </button>
            <button
              tooltip="Generar nuevo pago para la cuenta corriente"
              class="btn btn-outline-info btn-sm m-1" 
              type="button" 
              (click)="nuevo_pago()">
              <i class="fa fa-window-restore" aria-hidden="true"></i>
                NUEVO PAGO
            </button>
            <button 
              tooltip="ir a la cuenta corriente"
              class="btn btn-danger btn-sm m-1" 
              type="button" 
              (click)="plan_pago_ver()">
              <i class="fa fa-cog"></i>
              MAS INFORMACIÓN
            </button>
          </div>
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="obligaciones">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Concepto</th>
                  <th>Debe</th>
                  <th>Haber</th>
                  <th>Saldo</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="obligaciones?.length != 0">
                <tr *ngFor="let item of obligaciones" class="{{id_ultimo==item.id?'ultimo':''}}">
                  <td>{{ item.fecha_vencimiento | date:'dd/MM/yyyy' }}</td>
                  <td>
                    {{ item.descripcion}}
                    <ng-container *ngIf="item.mercadopago">
                      <span class="badge badge-primary">mercadopago</span>
                      <ng-container *ngIf="item.mercadopago.payment_status else sinPreferencia">
                        <span class="badge badge-info">{{item.mercadopago.payment_status}}</span>
                      </ng-container>
                      <ng-template #sinPreferencia>
                        <span class="badge badge-danger">S/P</span>
                      </ng-template>
                    </ng-container>
                  </td>
                  <td>
                    <div *ngIf="[1,2,10].indexOf(item.id_tipo_obligacion) >= 0">
                      ${{ item.monto | number:'1.2-2':'es-AR' }}
                    </div>
                  </td>
                  <td>
                    <div *ngIf="[3].indexOf(item.id_tipo_obligacion) >= 0">
                      ${{ item.monto | number:'1.2-2':'es-AR' }}                      
                    </div>
                  </td>
                  <td>${{ item.acumulado | number:'1.2-2':'es-AR' }}</td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            mercadopago: Cuota con preferencia de pago creada
          </p>
          <p>
            S/P: Sin metodo de pago elegido en la preferencia
          </p>
        </div>
        <div class="card-footer">
          <button 
            tooltip="Vuelve a calcular intereses/pagos/movimientos en las cuotas"
            class="btn btn-danger" 
            type="button" 
            (click)="rearmar()">REARMAR</button>
        </div>
      </div>
    </div>
  </div>
</div>
