<div class="animated fadeIn">
  <div class="row" >
    <div class="col-lg-12">
      <app-componente-alumno-detalle 
        [alumno]="inscripcion.alumno"
        [collapsed]="true"
        *ngIf="inscripcion">
      </app-componente-alumno-detalle>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12">
      <app-componente-carrera-detalle 
        [plan_estudio]="inscripcion.plan_estudio" 
        [carrera]="inscripcion.carrera" 
        [collapsed]="true"
        *ngIf="inscripcion">
      </app-componente-carrera-detalle>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Mesas de examenes inscriptas
          <div class="card-header-actions">
            <button class="btn btn-sm btn-block btn-success" type="button" (click)="nuevo()">Inscribir a nueva mesa de examen</button>
          </div>
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="dataSource">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Mesa</th>
                  <th>Materia</th>
                  <th>Libro</th>
                  <th>Folio</th>
                  <th>Cond./Nota</th>
                  <th>Final</th>
                  <th>Observaciones</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="dataSource?.length != 0">
                <tr *ngFor="let item of dataSource">
                  <td>{{ item.mesa_examen_materia.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
                  <td>{{ item.mesa_examen_materia.mesa_examen.nombre }}</td>
                  <td>{{ item.mesa_examen_materia.materia.nombre }}</td>
                  <td>{{ item.mesa_examen_materia.libro }}</td>
                  <td>{{ item.mesa_examen_materia.folio }}</td>
                  <td>
                    <ng-container *ngIf="item.condicion">
                      {{item.condicion.nombre}}
                    </ng-container>
                    <div *ngIf="item.nota!=null">
                      / {{ item.nota }} <ng-container *ngIf="item.nota_nombre">({{item.nota_nombre}})</ng-container>
                    </div>
                  </td>
                  <td>
                    {{ item.nota_final }} <ng-container *ngIf="item.nota_final_nombre">({{item.nota_final_nombre}})</ng-container>
                  <td>
                    {{ item.observaciones }}
                  </td>
                  <td>
                    <div class="btn-group" dropdown placement="bottom right" container="body">
                      <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                      <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="mesa_examen_materia(item)" href="javascript:void(0);">
                          <i class="fa fa-file"></i>
                          Ir a la mesa
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="alumno_desasociar(item)" href="javascript:void(0);">
                          <i class="fa fa-trash"></i>
                          Dar de baja
                          </a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="descargar(item)" href="javascript:void(0);">
                            <i class="fa fa-save"></i>
                            Const. Inscripción(Descargar)
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="imprimir(item)" href="javascript:void(0);">
                            <i class="fa fa-print"></i>
                            Const. Inscripción(Imprimir)
                          </a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="descargar_asistencia(item)" href="javascript:void(0);">
                            <i class="fa fa-save"></i>
                            Const. Asistencia(Descargar)
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="imprimir_asistencia(item)" href="javascript:void(0);">
                            <i class="fa fa-print"></i>
                            Const. Asistencia(Imprimir)
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  