<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de tipos de movimiento
          <div class="card-header-actions">
            <button class="btn btn-block btn-sm btn-outline-success" type="button" (click)="nuevo()">
              <i class="fa fa-plus"></i>
              Registrar nuevo tipo de movimiento
            </button>
          </div>
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="dataSource">
              <thead>
                <tr>
                  <th>Agregado</th>
                  <th>Nombre</th>
                  <th class="no-sort">Descripcion</th>
                  <th>Tipo</th>
                  <th class="no-sort"></th>
                </tr>
              </thead>
              <tbody *ngIf="dataSource?.length != 0">
                <tr *ngFor="let item of dataSource" >
                  <td>{{ item.created_at | date:'dd/MM/yyyy' }}</td>
                  <td>{{ item.nombre }} </td>
                  <td>{{ item.descripcion }} </td>
                  <td>{{ item.id_tipo_egreso_ingreso==1?'Ingreso':'Egreso' }} </td>
                  <td>
                    <div class="btn-group" dropdown placement="bottom right" container="body" *ngIf="item.id_sede>0">
                      <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                        <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="editar(item)" href="javascript:void(0);">Editar</a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="eliminar(item)" href="javascript:void(0);">Eliminar</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
  