<div class="modal-header">
  <h4 class="modal-title pull-left">Pagos realizados</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="dataSource">
            <thead>
              <tr>
                <th class="no-sort">Fecha</th>
                <th class="no-sort">Descripcion</th>
                <th class="no-sort">Importe</th>
                <th class="no-sort">Responsable</th>
                <th class="no-sort"></th>
              </tr>
            </thead>
            <tbody *ngIf="dataSource?.length != 0">
              <tr *ngFor="let item of dataSource" class="{{!item.estado?'bg-danger':''}}">
                <td>{{ item.fecha | date:'dd/MM/yyyy'}}</td>
                <td>{{ item.descripcion}}</td>
                <td>${{ item.monto | number:'1.2-2':'es-AR' }}</td>
                <td>{{ item.usuario.apellido}} {{ item.usuario.nombre}}</td>
                <td>
                  <button class="btn btn-danger" type="button" (click)="eliminar(item)" *ngIf="item.estado">
                    <i class="fa fa-trash"></i>&nbsp;</button>
                  <button class="btn btn-info" type="button" (click)="eliminar(item)" *ngIf="!item.estado">
                    <i class="fa fa-trash"></i>&nbsp;</button>
                  <button class="btn btn-info" type="button" (click)="recibo(item)" >
                    <i class="fa fa-eye"></i>&nbsp;</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancelar()">Cerrar</button>
</div>