<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cambiar Contraseña</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formulario" >
      <div class="row">
        <div class="form-group col-sm-12">
          <label class="control-label">Contraseña (*)</label>
          <input
            formControlName="password"
            type="text" 
            class="form-control {{ f.password.invalid?'is-invalid':'is-valid'}}">
          <div *ngIf= "(f.password.touched || f.password.dirty) && f.password.invalid" class="invalid-feedback">
            <span *ngIf="f.password.hasError('required')" class="help-block">
                La contraseña es requerido
            </span>
            <span *ngIf="f.password.hasError('minlength')" class="help-block">
                La contraseña debe tener al menos 6 caracteres
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12">
          <label class="control-label">Enviar correo de notificación</label>
          <input 
            formControlName="notificacion"
            type="checkbox" 
            class="form-control">
        </div>
      </div>
      <div class="row" *ngIf="f.notificacion.value">
        <div class="form-group col-sm-12">
          <label class="control-label">Correo de notificación(*)</label>
          <input 
            formControlName="email"
            type="text" 
            class="form-control {{ f.email.invalid?'is-invalid':'is-valid'}}">
        </div>
        <div *ngIf= "(f.email.touched || f.email.dirty) && f.email.invalid" class="invalid-feedback">
          <span *ngIf="f.email.hasError('required')" class="help-block">
              El correo es requerido
          </span>
          <span *ngIf="f.email.hasError('email')" class="help-block">
              Debe ser un correo valido
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cerrar</button>
    <button 
      [disabled]="!formulario.valid"
      type="button" 
      class="btn btn-success" 
      (click)="confirmar()">Continuar</button>
  </div>
</div>