<div class="animated fadeIn" >
  <app-obligacion-siguiente-component
    [id_plan_pago]="id"
    [id_tipo_obligacion]="10"
    (siguiente)="siguiente($event)">
    </app-obligacion-siguiente-component>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Generar pago matricula
        </div>
        <div class="card-body">
          <form [formGroup]="formulario" >
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="control-label">Importe (*)</label>
                <input currencyMask
                  required
                  (input)="onEditar()"
                  formControlName="monto"
                  type="text" 
                  class="form-control">
                <span *ngIf="formulario.get('monto').hasError('required')" class="help-block">
                  El importe es requerido
                </span>
              </div>
              <div class="form-group col-sm-3" >
                <label class="control-label">Fecha</label>
                <input bsDatepicker
                  required
                  (bsValueChange)="onEditar()"
                  formControlName="fecha"
                  type="text" 
                  class="form-control" 
                  placeholder="Fecha">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-9">
                <label class="control-label">Descripción</label>
                <input 
                  formControlName="descripcion"
                  type="text" 
                  class="form-control {{ (f.descripcion.touched || f.descripcion.dirty)?(f.descripcion.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Descripcion">
                <div *ngIf= "f.descripcion.invalid " class="invalid-feedback">
                  <span *ngIf="f.descripcion.hasError('maxLength')" class="help-block">
                    El campo no debe tener mas de 255 caracteres
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="control-label">Forma de Pago (*)</label>
                <select 
                  class="form-control"
                  formControlName="id_forma_pago">
                  <option *ngFor="let item of formas" [value]="item.id">{{item.nombre}}</option>
                </select>
              </div>
              <div class="form-group col-sm-5">
                <label class="control-label">Numero de recibo </label>
                <input 
                  formControlName="numero_oficial"
                  type="text" 
                  class="form-control {{ (f.numero_oficial.touched || f.numero_oficial.dirty)?(f.numero_oficial.invalid?'is-invalid':'is-valid'):''}}"
                  >
                <div *ngIf= "f.numero_oficial.invalid " class="invalid-feedback">
                  <span *ngIf="f.numero_oficial.hasError('maxLength')" class="help-block">
                    El campo no debe tener mas de 255 caracteres
                  </span>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="formulario.get('id_forma_pago').value==2">
              <div class="form-group col-sm-3">
                <label class="control-label">Numero (*)</label>
                <input 
                  formControlName="cheque_numero"
                  type="text" 
                  class="form-control {{ (f.cheque_numero.touched || f.cheque_numero.dirty)?(f.cheque_numero.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Numero del cheque">
                <div *ngIf= "f.cheque_numero.invalid " class="invalid-feedback">
                  <span *ngIf="f.cheque_numero.hasError('maxLength')" class="help-block">
                    El campo no debe tener mas de 255 caracteres
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label class="control-label">Origen</label>
                <input 
                  formControlName="cheque_origen"
                  type="text" 
                  class="form-control {{ (f.cheque_origen.touched || f.cheque_origen.dirty)?(f.cheque_origen.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Origen del cheque">
                <div *ngIf= "f.cheque_origen.invalid " class="invalid-feedback">
                  <span *ngIf="f.cheque_origen.hasError('maxLength')" class="help-block">
                    El campo no debe tener mas de 255 caracteres
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label class="control-label">Banco</label>
                <input 
                  formControlName="cheque_banco"
                  type="text" 
                  class="form-control {{ (f.cheque_banco.touched || f.cheque_banco.dirty)?(f.cheque_banco.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Banco del cheque">
                <div *ngIf= "f.cheque_banco.invalid " class="invalid-feedback">
                  <span *ngIf="f.cheque_banco.hasError('maxLength')" class="help-block">
                    El campo no debe tener mas de 255 caracteres
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label class="control-label">Fecha vencimiento</label>
                <input bsDatepicker
                  formControlName="cheque_vencimiento"
                  type="text" 
                  class="form-control" 
                  placeholder="Fecha del vencimiento del cheque">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary btn-block-xs-only m-1" (click)="volver()">Cancelar</button>
            <button 
              [disabled]="disablePagar()"
              type="button" 
              class="btn btn-success btn-block-xs-only m-1" 
              (click)="confirmar()">REALIZAR PAGO</button>
        </div>
      </div>
    </div>
  </div>
</div>