<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Nueva Novedad</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formulario" >
      <div class="row">
        <div class="form-group col-sm-12">
          <label class="control-label">Titulo (*)</label>
          <input
            formControlName="titulo"
            type="text" 
            class="form-control {{ (f.titulo.touched || f.titulo.dirty)?(f.titulo.invalid ?'is-invalid':'is-valid'):''}}">
          <div *ngIf= " (f.titulo.touched || f.titulo.dirty) && f.titulo.invalid " class="invalid-feedback">
            <span *ngIf="f.titulo.hasError('required')" class="help-block">
                El titulo es requerido
            </span>
            <span *ngIf="f.titulo.hasError('maxLength')" class="help-block">
                Maximo de 255 caracteres
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12">
          <label class="control-label">Breve descripción</label>
          <input 
            formControlName="descripcion"
            type="text" 
            class="form-control"
            placeholder="">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cerrar</button>
    <button 
      [disabled]="!formulario.valid"
      type="button" 
      class="btn btn-success" 
      (click)="confirmar()">Continuar</button>
  </div>
</div>