<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Aulas
          <div class="card-header-actions">
            <button class="btn btn-block btn-sm btn-success" type="button" (click)="nuevo()">Agregar Nueva Aula</button>
          </div>
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="dataSource">
              <thead>
                <tr>
                  <th>Numero</th>
                  <th>Nombre</th>
                  <th>Capacidad</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="dataSource?.length != 0">
                <tr *ngFor="let item of dataSource">
                  <td>{{ item.numero }}</td>
                  <td>{{ item.nombre }}</td>
                  <td>{{ item.capacidad }}</td>
                  <td>
                    <div class="btn-group" dropdown placement="bottom right" container="body">
                      <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                        <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="editar(item)" href="javascript:void(0);">
                            <i class="fa fa-edit"></i>
                            Editar
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="eliminar(item)" href="javascript:void(0);">
                            <i class="fa fa-remove"></i>
                            Eliminar
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
  