<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Egresos
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="dataSource">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Forma</th>
                  <th>Tipo</th>
                  <th>Descripcion</th>
                  <th>Monto</th>
                </tr>
              </thead>
              <tbody *ngIf="dataSource?.length != 0">
                <tr *ngFor="let item of dataSource" >
                  <td>
                    {{ item.fecha | date:'dd/MM/yyyy' }}
                  </td>
                  <td>{{item.forma.nombre}}</td>
                  <td>{{item.tipo.nombre}}</td>
                  <td>{{item.descripcion}}</td>
                  <td>${{item.monto | number:'1.2-2':'es-AR'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>