<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">{{estadisticas_alumno?.totales.inscriptos}}</div>
          <div>Alumnos inscriptos</div>
        </div>
        <!--
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart1Data"
          [labels]="lineChart1Labels"
          [options]="lineChart1Options"
          [colors]="lineChart1Colours"
          [legend]="lineChart1Legend"
          [chartType]="lineChart1Type"></canvas>
        </div>-->
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">{{estadisticas_inscripcion?.totales.regular}}</div>
          <div>Inscripciones regulares</div>
        </div>
        <!--
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"></canvas>
        </div>-->
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">{{estadisticas_carrera?.totales.total}}</div>
          <div>Carreras</div>
        </div>
        <!--
        <div class="chart-wrapper mt-3" style="height:70px;">
        </div>-->
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3" *ngIf="[1,2,3].indexOf(usuario.id_tipo_usuario)>=0">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">${{estadisticas_plan_pago?.totales.total |number:'1.2':'es-AR'}}</div>
          <div>Saldo Total</div>
        </div>
        <!--
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="barChart1Data"
          [labels]="barChart1Labels"
          [options]="barChart1Options"
          [colors]="barChart1Colours"
          [legend]="barChart1Legend"
          [chartType]="barChart1Type"></canvas>
        </div>-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Metricas Actuales
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-info">
                    <small class="text-muted">Alumnos nuevos</small>
                    <br>
                    <strong class="h4">{{estadisticas_alumno?.totales_hoy.inscriptos}}</strong>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Inscripciones nuevas</small>
                    <br>
                    <strong class="h4">{{estadisticas_inscripcion?.totales_hoy.regular}}</strong>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
              <ng-container *ngIf="[1,2,3].indexOf(usuario.id_tipo_usuario)>=0">
                <div class="progress-group mb-4" *ngFor="let item of ultimas">
                  <div class="progress-group-prepend">
                    <span class="progress-group-text">
                      <ng-container *ngIf="item.fecha_fin">{{item.fecha_fin|date:'dd/MM/yy'}}</ng-container>
                      <ng-container *ngIf="!item.fecha_fin">EN CURSO</ng-container>
                    </span>
                  </div>
                  
                  <div class="progress-group-bars">
                    Saldo anterior: ${{item.saldo_anterior |number:'1.2':'es-AR'}}
                      Ingresos: ${{item.total_ingreso |number:'1.2':'es-AR'}}
                      Egresos: ${{item.total_egreso |number:'1.2':'es-AR'}}
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Carreras nuevas</small>
                    <br>
                    <strong class="h4">{{estadisticas_carrera?.totales_hoy.total}}</strong>
                  </div>
                </div>
                <div class="col-sm-6" *ngIf="[1,2,3].indexOf(usuario.id_tipo_usuario)>=0">
                  <div class="callout callout-success">
                    <small class="text-muted">Pendiente de cobro</small>
                    <br>
                    <strong class="h4">${{estadisticas_plan_pago?.totales_hoy.total |number:'1.2':'es-AR'}}</strong>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="[1,2,3].indexOf(usuario.id_tipo_usuario)>=0">
    <div class="col-6">
      <div class="card">
        <div class="card-content">
          <canvas #barCanvas></canvas>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-content">
          <canvas #doughnutCanvas></canvas>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-content">
          <canvas #lineCanvas></canvas>
        </div>
      </div>
    </div>
  </div>
</div>