<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Nuevo Pago</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formulario" >
      <div class="row">
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            <div class="form-check d-inline m-3 mt-4">
              <input class="form-check-input" type="checkbox" formControlName="especial_covid">
              <label class="form-check-label" for="defaultCheck1">
                PAGO ESPECIAL COVID (El monto por cuota baja a $3.000 como maximo)
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-3 {{ f.monto.touched && f.monto.invalid?'was-validated':''}}">
            <label class="control-label">Importe (*)</label>
            <input currencyMask
              required
              formControlName="monto"
              type="text" 
              class="form-control">
            <div *ngIf= "f.monto.touched" class="invalid-feedback">
              <span *ngIf="f.monto.hasError('required')" class="help-block">
                  El importe es requerido
              </span>
              <span *ngIf="f.monto.hasError('min')" class="help-block">
                  El monto debe ser mayor a 1(uno)
              </span>
            </div>
          </div>
          <div class="form-group col-sm-3 {{ f.fecha.touched && f.fecha.invalid?'was-validated':''}}" >
            <label class="control-label">Fecha</label>
            <input bsDatepicker
              required
              formControlName="fecha"
              type="text" 
              class="form-control" 
              placeholder="Fecha">
            <div *ngIf= "f.fecha.touched && f.fecha.invalid" class="invalid-feedback">
              <span *ngIf="f.fecha.hasError('required')" class="help-block">
                  La fecha es requerida
              </span>
            </div>
          </div>
          <div class="form-check d-inline m-3 mt-3" *ngIf="!f.especial_covid.value">
            <input class="form-check-input" type="checkbox" formControlName="bonificar_cuotas">
            <label class="form-check-label" for="defaultCheck1">
              Aplicar a Interes
            </label>
          </div>
          <div class="form-check d-inline m-3 mt-3" *ngIf="!f.especial_covid.value">
            <input class="form-check-input" type="checkbox" formControlName="bonificar_cuotas">
            <label class="form-check-label" for="defaultCheck1">
              Bonificar cuota
            </label>
          </div>
          <button 
            [disabled]="!formulario.valid"
            class="btn btn-danger d-inline m-3 mt-3" 
            (click)="preparar()" >
            VISTA PREVIA
          </button>
      </div>
      <div class="row">
        <div class="form-group col-sm-12">
          <label class="control-label">Descripcion</label>
          <input 
            formControlName="descripcion"
            type="text" 
            class="form-control"
            placeholder="Descripcion">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3 {{ f.id_forma_pago.touched && f.id_forma_pago.invalid?'was-validated':''}}">
          <label class="control-label">Forma de Pago (*)</label>
          <select 
            required
            class="form-control"
            formControlName="id_forma_pago">
            <option *ngFor="let item of formas" [value]="item.id">{{item.nombre}}</option>
          </select>
          <div *ngIf= "f.id_forma_pago.touched && f.id_forma_pago.invalid" class="invalid-feedback">
            <span *ngIf="f.id_forma_pago.hasError('required')" class="help-block">
                La forma de pago es requerida
            </span>
          </div>
        </div>
        <div class="form-group col-sm-9">
          <label class="control-label">Numero de recibo</label>
          <input 
            formControlName="numero_oficial"
            type="text" 
            class="form-control">
        </div>
      </div>
      <div class="row" *ngIf="formulario.get('id_forma_pago').value==2">
          <div class="form-group col-sm-3">
            <label class="control-label">Numero (*)</label>
            <input 
              formControlName="cheque_numero"
              type="text" 
              class="form-control"
              placeholder="Numero del cheque">
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label">Origen</label>
            <input 
              formControlName="cheque_origen"
              type="text" 
              class="form-control"
              placeholder="Origen del cheque">
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label">Banco</label>
            <input 
              formControlName="cheque_banco"
              type="text" 
              class="form-control"
              placeholder="Banco del cheque">
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label">Fecha vencimiento</label>
            <input bsDatepicker
              formControlName="cheque_vencimiento"
              type="text" 
              class="form-control" 
              placeholder="Fecha del vencimiento del cheque">
          </div>
        </div>
        <div class="row" *ngIf="formulario.get('id_forma_pago').value==6 || formulario.get('id_forma_pago').value==7">
          <div class="form-group col-sm-6">
            <label class="control-label">Numero de transacción</label>
            <input 
              formControlName="numero_transaccion"
              type="text" 
              class="form-control"
              placeholder="Numero de transaccion">
          </div>
        </div>
    </form>
    <div class="row">
      <div class="col-lg-12">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="dataSource">
              <thead>
                <tr>
                  <th class="no-sort">Fecha</th>
                  <th class="no-sort">Concepto</th>
                  <th class="no-sort">Debe</th>
                  <th class="no-sort">Haber</th>
                  <th class="no-sort">Pago</th>
                  <th class="no-sort">Saldo</th>
                </tr>
              </thead>
              <tbody *ngIf="dataSource?.length != 0">
                <tr *ngFor="let item of dataSource">
                  <td>{{ item.obligacion.fecha_vencimiento | date:'dd/MM/yyyy'}}</td>
                  <td>{{ item.obligacion.descripcion }}</td>
                  <td>
                    ${{ item.monto | number:'1.2-2':'es-AR' }}
                  </td>
                  <td>
                    <ng-container *ngIf="item.bonificado">
                      <span class="badge badge-warning" >Bonificado</span><br>
                    </ng-container>
                    ${{ item.haber | number:'1.2-2':'es-AR' }}
                  </td>
                  <td>
                    ${{ item.pagado | number:'1.2-2':'es-AR' }}
                  </td>
                  <td>
                    ${{ item.saldo | number:'1.2-2':'es-AR' }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cerrar</button>
    <button 
      [disabled]="disablePagar()"
      type="button" 
      class="btn btn-success" 
      (click)="confirmar()">REALIZAR PAGO</button>
  </div>
</div>