<div class="modal-header">
  <h4 class="modal-title pull-left" *ngIf="alumno">Detalle nota {{alumno.alumno.apellido}} {{alumno.alumno.nombre}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formulario" >
    <div class="row">
      <div class="form-group col-sm-2">
        <label class="control-label">Asistencia</label>
        <input
          formControlName="asistencia"
          type="checkbox" 
          class="form-control">
      </div>
      <div class="form-group col-sm-2">
        <label class="control-label">Adeuda</label>
        <input
          formControlName="adeuda"
          type="checkbox" 
          class="form-control">
      </div>
      <div class="form-group col-sm-4">
        <label class="control-label">Nota</label>
        <input 
          formControlName="nota"
          type="number" 
          class="form-control {{ (f.nota.touched || f.nota.dirty)?(f.nota.invalid?'is-invalid':'is-valid'):''}}">
        <input
          formControlName="nota_nombre"
          class="form-control"
          type="text"
          >
          <div *ngIf= " (f.nota.touched || f.nota.dirty) && f.nota.invalid " class="invalid-feedback">
            <span *ngIf="f.nota.hasError('required')" class="help-block">
              La nota es requerido
            </span>
            <span *ngIf="f.nota.hasError('min') || f.nota.hasError('max')" class="help-block">
              Debe estar en un rango del 1 al 10
            </span>
          </div>
      </div>
      <div class="form-group col-sm-4">
        <label class="control-label">Nota Final</label>
        <input 
          formControlName="nota_final"
          type="number" 
          class="form-control {{ (f.nota_final.touched || f.nota_final.dirty)?(f.nota_final.invalid?'is-invalid':'is-valid'):''}}">
        <input
          formControlName="nota_final_nombre"
          class="form-control"
          type="text"
          >
          <div *ngIf= " (f.nota_final.touched || f.nota_final.dirty) && f.nota_final.invalid " class="invalid-feedback">
            <span *ngIf="f.nota_final.hasError('required')" class="help-block">
              La nota final es requerido
            </span>
            <span *ngIf="f.nota_final.hasError('min') || f.nota_final.hasError('max')" class="help-block">
              Debe estar en un rango del 1 al 10
            </span>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label class="control-label">Condicion del alumno</label>
        <select
          class="form-control"
          formControlName="id_tipo_condicion_alumno">
          <option *ngFor="let item of condicionalidades" [value]="item.id">{{item.nombre}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label class="control-label">Observaciones</label>
        <input
          formControlName="observaciones"
          type="text" 
          class="form-control"
          placeholder=" - ">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancelar()">Cerrar</button>
  <button 
    [disabled]="!formulario.valid"
    type="button" 
    class="btn btn-primary" 
    (click)="confirmar()">Guardar</button>
</div>