<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>{{titulo}}</strong>
          <small> Formulario</small>
        </div>
        <div class="card-body">
          <form [formGroup]="formulario" >
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Nombre indentificatorio (*)</label>
                <input 
                  required
                  formControlName="nombre"
                  type="text" 
                  class="form-control {{ (f.nombre.touched || f.nombre.dirty)?(f.nombre.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Nombre">
                <div *ngIf= "f.nombre.invalid " class="invalid-feedback">
                  <span *ngIf="f.nombre.hasError('required')" class="help-block">
                    El nombre es requerido.
                  </span>
                  <span *ngIf="f.nombre.hasError('maxLength')" class="help-block">
                    La cantidad de caracteres debe ser menor que 191 caracteres.
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Descripción del movimiento</label>
                <input 
                  formControlName="descripcion"
                  type="text" 
                  class="form-control"
                  placeholder="-">
              </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                  <label class="control-label">Tipo de Movimiento</label>
                  <select
                    class="form-control"
                    formControlName="id_tipo_egreso_ingreso"
                    >
                    <option value="0">Egreso</option>
                    <option value="1">Ingreso</option>
                  </select>
                </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-block-xs-only m-1 btn-success"
            type="submit"
            color="accent"
            (click)="continuar()"
            [disabled]="!formulario.valid">
            <ng-container *ngIf="id==0">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              Registrar nuevo tipo de movimiento
            </ng-container>
            <ng-container *ngIf="id>0">
              <i class="fa fa-edit" aria-hidden="true"></i>
              Guardar Cambios
            </ng-container>
            </button>
          <button class="btn btn-block-xs-only m-1"
            (click)="volver()">
            CANCELAR
            </button>
          <ng-container *ngIf="!formulario.valid">
            <small>Existen campos que debe completar primero</small>
          </ng-container>
        </div>
      </div>  
    </div>
  </div>
</div>
  