<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>{{titulo}}</strong>
          <small> Formulario</small>
        </div>
        <div class="card-body">
          <form [formGroup]="formulario" >
            <div class="row" formGroupName="usuario">
              <div class="form-group col-sm-2 col-4">
                <label class="control-label">Tipo</label>
                <select 
                  class="form-control"
                  formControlName="id_tipo_documento">
                  <option *ngFor="let item of tipo_documentos" [value]="item.id">{{item.nombre}}</option>
                </select>
              </div>
              <div class="form-group col-sm-4 col-8 ">
                <label class="control-label">Documento (*)</label>
                <input 
                  formControlName="documento"
                  type="number" 
                  class="form-control {{ (u.documento.touched || u.documento.dirty)?((f.usuario.invalid || u.documento.invalid )?'is-invalid':'is-valid'):''}}"
                  placeholder="Documento"
                  >
                <div *ngIf= " (u.documento.touched || u.documento.dirty) && f.usuario.invalid " class="invalid-feedback">
                  <span *ngIf="u.documento.hasError('required')" class="help-block">
                    El documento es requerido
                  </span>
                  <span *ngIf="usuario.hasError('coincidencia')" class="help-block">
                    El documento ya se encuentra registrado
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-6" >
                <p for="" *ngIf="usuario.hasError('alumno') && !(documento_original == u.documento.value && id_tipo_documento_original == u.id_tipo_documento.value)">
                  {{usuario.errors.alumno.tipo_documento.nombre}} - {{usuario.errors.alumno.documento}} {{usuario.errors.alumno.apellido}} {{usuario.errors.alumno.nombre}} -
                  Sede:{{usuario.errors.alumno.sede.nombre}}
                </p>
                <p *ngIf="usuario.enabled && documento_original == u.documento.value && id_tipo_documento_original == u.id_tipo_documento.value">
                  El documento a modificar debe ser distinto que el original.
                </p>
                <p *ngIf="usuario.disabled">
                  Para cambiar el documento debe habilitar la edición. El nuevo documento debe ser distinto que el actual.
                </p>
                <p *ngIf="!usuario.hasError('alumno') && usuario.enabled && !consultando && u.documento.value.length>0">
                  El documento se encuentra disponible
                </p>
                <ng-container *ngIf="id>0">
                    <button class="btn btn-sm btn-block-xs-only m-1 btn-info" *ngIf="usuario.disabled"
                    (click)="habilitar_documento()"
                    >Habilitar edición</button>
                    <button class="btn btn-sm btn-block-xs-only m-1 btn-info" *ngIf="usuario.enabled"
                    (click)="deshabilitar_documento()"
                    >Descartar edición</button>
                </ng-container>
                <ng-container *ngIf="usuario.hasError('alumno') && usuario.enabled">
                    <button class="btn btn-sm btn-block-xs-only m-1 btn-info"
                    (click)="alumno_sede(usuario.errors.alumno)"
                    >Sedes asociadas</button>
                    <button class="btn btn-sm btn-block-xs-only m-1 btn-danger" *ngIf="usuario.errors.alumno.id_sede != id_sede"
                    (click)="alumno_sede_asociar(usuario.errors.alumno)"
                    >Asociar alumno</button>
                    <button class="btn btn-sm btn-block-xs-only m-1 btn-info" *ngIf="usuario.errors.alumno.id_sede == id_sede"
                    (click)="alumno_ver(usuario.errors.alumno)"
                    >Ver alumno</button>
                </ng-container>
                
                
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4 {{ f.nombre.touched && f.nombre.invalid?'was-validated':''}}">
                <label class="control-label">Nombre (*)</label>
                <input 
                  required
                  formControlName="nombre"
                  type="text" 
                  class="form-control"
                  placeholder="Nombre">
                <div *ngIf= "f.nombre.touched && f.nombre.invalid" class="invalid-feedback">
                  <span *ngIf="f.nombre.hasError('required')" class="help-block">
                    El nombre es requerido
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-4 {{ f.apellido.touched && f.apellido.invalid?'was-validated':''}}">
                <label class="control-label">Apellido (*)</label>
                <input 
                  required
                  formControlName="apellido"
                  type="text" 
                  class="form-control"
                  placeholder="Apellido">
                  <div *ngIf= "f.apellido.touched && f.apellido.invalid" class="invalid-feedback">
                    <span *ngIf="f.apellido.hasError('required')" class="help-block">
                      El nombre es requerido
                    </span>
                  </div>
              </div>
              <div class="form-group col-sm-3">
                <label class="control-label">Fecha Nacimiento</label>
                <input bsDatepicker
                  formControlName="fecha_nacimiento"
                  type="text" 
                  class="form-control" 
                  placeholder="Fecha Nacimiento">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <label class="control-label">Lugar de nacimiento</label>
                <input 
                  formControlName="ciudad_nacimiento"
                  type="text" 
                  class="form-control">
              </div>
              <div class="form-group col-6">
                <label class="control-label">Nacionalidad</label>
                <input 
                  formControlName="nacionalidad"
                  type="text" 
                  class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="control-label">Sexo</label>
                <select 
                  class="form-control"
                  formControlName="sexo">
                  <option value="M" >Masculino</option>
                  <option value="F" >Femenino</option>
                </select>
              </div>
              <div class="form-group col-sm-3">
                <label class="control-label">Estado Civil</label>
                <select 
                  class="form-control"
                  formControlName="id_tipo_alumno_civil">
                  <option *ngFor="let item of tipos_civil" [value]="item.id">{{item.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-5">
                <label class="control-label">Correo Electronico</label>
                <input 
                  formControlName="email"
                  type="email" 
                  class="form-control"
                  placeholder="prueba@prueba.com">
              </div>
              <div class="form-group col-sm-3">
                <label class="control-label">Telefono</label>
                <input 
                  formControlName="telefono"
                  type="text" 
                  class="form-control">
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Celular</label>
                <input 
                  formControlName="celular"
                  type="text" 
                  class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="control-label">Provincia</label>
                <select 
                  class="form-control"
                  formControlName="id_provincia"
                  >
                  <option *ngFor="let item of provincias" [value]="item.id" >{{item.nombre}}</option>
                </select>
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Localidad</label>
                <input formControlName="localidad"
                  [typeahead]="dataSource"
                  (typeaheadLoading)="changeTypeaheadLoading($event)"
                  (typeaheadOnSelect)="typeaheadOnSelect($event)"
                  [typeaheadOptionsLimit]="7"
                  typeaheadOptionField="nombre"
                  placeholder="Localidades"
                  class="form-control">
                 <div *ngIf="typeaheadLoading">Loading</div>
              </div>
              <div class="form-group col-sm-3">
                <label class="control-label">Codigo Postal</label>
                <input 
                  formControlName="codigo_postal"
                  type="text" 
                  class="form-control"
                  placeholder="Codigo Postal">
              </div>
            </div>
            <div class="row" >
              <div class="form-group col-sm-6">
                <label class="control-label">Domicilio</label>
                <input 
                  formControlName="domicilio"
                  type="text" 
                  class="form-control"
                  placeholder="Domicilio">
              </div>
              <div class="form-group col-sm-2 col-4">
                <label class="control-label">Numero</label>
                <input 
                  formControlName="numero"
                  type="text" 
                  class="form-control"
                  placeholder="Numero">
              </div>
              <div class="form-group col-sm-2 col-4">
                <label class="control-label">Depto</label>
                <input 
                  formControlName="depto"
                  type="text" 
                  class="form-control"
                  placeholder="Depto">
              </div>
              <div class="form-group col-sm-2 col-4">
                <label class="control-label">Piso</label>
                <input 
                  formControlName="piso"
                  type="text" 
                  class="form-control"
                  placeholder="Piso">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                <label class="control-label">Observaciones</label>
                <input 
                  formControlName="observaciones"
                  type="text" 
                  class="form-control">
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col text-center">
              <hr>
              <label class="control-label"><b>Documentación</b></label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Tipos:</label>
            <div class="col-md-8 col-form-label">
              <div class="form-check" *ngFor="let item of tipo_documentacion">
                <input class="form-check-input" type="checkbox"
                name="archivos[]"
                [value]="item.id"
                [checked]="tipo_asociada(item)"
                (change)="tipo_asociacion($event,item)">
                <label class="form-check-label" >
                  {{ item.nombre }}
                  <button *ngIf="tipo_asociada(item)"
                    tooltip="Agregar"
                    class="btn btn-sm btn-primary" 
                    (click)="tipo_agregar(item)">
                    <i class="fa fa-plus"></i>
                  </button>
                </label>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6 {{archivo.subido?'bg-success':''}}" *ngFor="let archivo of archivos">
                  <div class="form-group col-sm-12">
                    <label class="control-label">
                      <ng-container *ngIf="archivo.tipo_documentacion">
                        {{archivo.tipo_documentacion.nombre}}
                      </ng-container>
                      <ng-container *ngIf="archivo.observaciones">
                       - {{archivo.observaciones}}
                      </ng-container>
                    </label>
                    <div class="row form-inline">
                      <input *ngIf="archivo.nombre"
                        class="form-control p-1"
                          readonly="readonly"
                          type="text"
                          placeholder="Nombre"
                          [value]="archivo.nombre">
                      <button 
                        tooltip="Eliminar"
                        class="btn btn-sm btn-danger m-2" 
                        (click)="eliminar(archivo)" >
                        <i class="fa fa-trash"></i>
                      </button>
                      <button 
                        tooltip="Editar"
                        class="btn btn-sm btn-danger m-2" 
                        (click)="editar(archivo)" >
                        <i class="fa fa-edit"></i>
                      </button> 
                      <button *ngIf="archivo.url"
                        tooltip="Descargar"
                        class="btn btn-sm btn-primary m-2"  
                        (click)="descargar(archivo)" >
                        <i class="fa fa-download"></i>
                      </button> 
                    </div>
                  </div>
                  <div class="form-group col-sm-6" *ngIf="archivo.url && archivo.nombre && [1,2].indexOf(archivo.id_tipo_alumno_documentacion) >= 0 ">
                    <img [src]="archivo.url" class="img-thumbnail" [alt]="archivo.nombre" width="200">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-block-xs-only m-1 btn-success"
            type="submit"
            color="accent"
            (click)="continuar()"
            [disabled]="consultando"
            [disabled]="!formulario.valid">
            Guardar Cambios
            </button>
          <button class="btn btn-block-xs-only m-1 btn-secondary"
            [disabled]="consultando"
            (click)="volver()">
            Volver
            </button>
        </div>
      </div>  
    </div>
  </div>
</div>
  