<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Listado de Materias con Mesas de Examenes
            </div>
            <div class="card-body p-1">
              <div class="row">
                  <div class="form-group col-sm-6">
                      <label class="control-label">Departamento</label>
                      <select 
                          class="form-control" 
                          (change)="refrescar()"
                          [(ngModel)]="request.id_departamento"
                          >
                          <option value="0">TODOS</option>
                          <option *ngFor="let item of departamentos" [value]="item.id" >{{item.nombre}}</option>
                      </select>
                  </div>
                  <div class="form-group col-sm-6">
                      <label class="control-label">Carrera</label>
                      <ng-select [items]="carreras"
                          [selectOnTab]="true"
                          bindValue="id"
                          bindLabel="nombre"
                          (ngModelChange)="refrescar()"
                          placeholder="Seleccione la Carrera"
                          [(ngModel)]="request.id_carrera"
                          [clearable]="false">
                      </ng-select>
                  </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-3" >
                  <label class="control-label">Fecha Inicio</label>
                  <input bsDatepicker
                    (bsValueChange)="fecha_inicio($event)"
                    type="text" 
                    class="form-control" 
                    placeholder="Inicio">
                </div>
                <div class="form-group col-sm-3" >
                  <label class="control-label">Fecha Fin</label>
                  <input bsDatepicker
                    (bsValueChange)="fecha_fin($event)"
                    type="text" 
                    class="form-control" 
                    placeholder="Fin">
                </div>
                <div class="form-group col-sm-6" *ngIf="mesa_examen" >
                  <label class="control-label">
                    Mesa
                    <button class="btn btn-sm btn-danger" (click)="quitar()">QUITAR</button>
                  </label>
                  <input
                    readonly="true"
                    type="text" 
                    class="form-control" 
                    [value]="mesa_examen.nombre">
                </div>
              </div>
              <div class="table-responsive">
                  <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" >
                  <thead>
                      <tr>
                      <th>Fecha</th>
                      <th class="no-sort">Materia</th>
                      <th class="no-sort">Carrera</th>
                      <th>Ins.</th>
                      <th>Libro</th>
                      <th class="no-sort">Folio L/P/R</th>
                      <th class="no-sort">Alu. P/A/NA</th>
                      <th class="no-sort"></th>
                      </tr>
                  </thead>
                  <tbody *ngIf="dataSource?.length != 0">
                      <tr *ngFor="let item of dataSource" >
                      <td>{{ item.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
                      <td>{{ item.materia.nombre }} {{ item.materia.codigo }}  </td>
                      <td>{{ item.carrera.nombre_corto}} {{item.materia.plan_estudio.anio}}</td>
                      <td>{{ item.alumnos_cantidad }}</td>
                      <td>{{ item.libro }}</td>
                      <td>{{ item.folio_libre?item.folio_libre:'-' }}/{{item.folio_promocion?item.folio_promocion:'-'}}/{{item.folio_regular?item.folio_regular:'-'}}</td>
                      <td>{{ item.alumnos_cantidad_presente }}/{{item.alumnos_cantidad_aprobado}}/{{item.alumnos_cantidad_no_aprobado}}</td>
                      <td>
                        <div class="btn-group" dropdown placement="bottom right" container="body">
                          <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                            <span class="caret"></span>
                          </button>
                          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="menuitem">
                              <a class="dropdown-item" (click)="ver(item)" href="javascript:void(0);">
                                <i class="fa fa-cog"></i>
                                Gestionar
                              </a>
                            </li>
                            <li role="menuitem">
                              <a class="dropdown-item" (click)="editar(item)" href="javascript:void(0);">
                                <i class="fa fa-edit"></i>
                                Editar
                              </a>
                            </li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem">
                              <a class="dropdown-item" (click)="acta_imprimir(item)" href="javascript:void(0);">
                                Imprimir Acta
                              </a>
                            </li>
                            <li role="menuitem">
                              <a class="dropdown-item" (click)="acta_reporte(item)" href="javascript:void(0);">
                                Descargar Acta
                              </a>
                            </li>
                          </ul>
                        </div>
                      </td>
                      </tr>
                  </tbody>
                  <tbody *ngIf="dataSource?.length == 0">
                      <tr>
                      <td colspan="3" class="no-data-available">No hay mesas de examenes</td>
                      </tr>
                  </tbody>
                  </table>
              </div>
              <div class="row">
                <div class="col-12">
                  <p>Folio L/P/R: Numero de Folio para Libres, Promocionales y Regulares.</p>
                  <p>Alu. P/A/NA: Cantidad de alumnos Presentes, Aprobados y No Aprobados.</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-block-xs-only m-1 btn-danger"
                type="button"
                [disabled]="dataSource?.length == 0"
                (click)="acta_masivo()">
                  Generar exportación masiva
                </button>
            </div>
          </div>
      </div>
      <!--/.col-->
  </div>
  <!--/.row-->
</div>
