<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Ultimas de Diarias
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="ultimos">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Saldo Anterior</th>
                  <th>Ingresos</th>
                  <th>Egresos</th>
                  <th>Saldo Final</th>
                </tr>
              </thead>
              <tbody *ngIf="ultimos?.length != 0">
                <tr *ngFor="let item of ultimos" >
                  <td>
                    <div *ngIf="item.fecha_fin">
                      {{ item.fecha_fin | date:'dd/MM/yyyy' }}
                    </div>
                    <div *ngIf="!item.fecha_fin">
                      <span class="badge badge-primary">EN CURSO</span>
                    </div>
                  </td>
                  <td>
                    <div *ngIf="item.saldo_anterior<0" class="text-danger">
                        ${{item.saldo_anterior | number:'1.2-2':'es-AR'}}
                    </div>
                    <div *ngIf="item.saldo_anterior>=0">
                        ${{item.saldo_anterior | number:'1.2-2':'es-AR'}}
                    </div>
                    <div *ngIf="item.saldo_otros_anterior" class="{{item.saldo_otros_anterior<0?'text-danger':''}}">
                      <i>${{item.saldo_otros_anterior | number:'1.2-2':'es-AR'}}</i>
                    </div>
                  </td>
                  <td>
                    ${{item.total_ingreso | number:'1.2-2':'es-AR'}}
                    <div *ngIf="item.total_otros_ingreso>0">
                      <i>${{item.total_otros_ingreso | number:'1.2-2':'es-AR'}}</i>
                    </div>
                  </td>
                  <td>
                    ${{item.total_egreso | number:'1.2-2':'es-AR'}}
                    <div *ngIf="item.total_otros_egreso>0">
                      <i>${{item.total_otros_egreso | number:'1.2-2':'es-AR'}}</i>
                    </div>
                  </td>
                  <td>
                    <div *ngIf="item.saldo<0" class="text-danger">
                        $({{item.saldo | number:'1.2-2':'es-AR'}})
                    </div>
                    <div *ngIf="item.saldo>=0">
                        ${{item.saldo | number:'1.2-2':'es-AR'}}
                    </div>
                    <div *ngIf="item.saldo_otros" class="{{item.saldo_otros<0?'text-danger':''}}">
                      <i>${{item.saldo_otros | number:'1.2-2':'es-AR'}}</i>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="ultimos?.length == 0">
                <tr>
                  <td colspan="4" class="no-data-available">No data!</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Abrir una nueva Diaria</strong>
          <small> </small>
        </div>
        <div class="card-body">
          <form [formGroup]="formulario" >
            <div class="row">
              <div class="form-group col-sm-4 {{ f.fecha_inicio.touched && f.fecha_inicio.invalid?'was-validated':''}}">
                <label class="control-label mb-3">Fecha inicial</label>
                <input bsDatepicker 
                  [maxDate]="hoy"
                  formControlName="fecha_inicio"
                  type="text" 
                  class="form-control" 
                  placeholder="Fecha">
                <div *ngIf= "f.fecha_inicio.touched && f.fecha_inicio.invalid" class="invalid-feedback">
                  <span *ngIf="f.fecha_inicio.hasError('required')" class="help-block">
                      La fecha es requerida
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-3 ">
                  <label class="control-label">Saldo anterior</label>
                <input currencyMask 
                  required
                  formControlName="saldo_anterior"
                  type="text" 
                  class="form-control"
                  >
              </div>
              <div class="form-group col-sm-3 ">
                <label class="control-label">Saldo anterior otros</label>
                <input currencyMask 
                  required
                  formControlName="saldo_otros_anterior"
                  type="text" 
                  class="form-control"
                  >
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-block-xs-only m-1 btn-success"
            type="submit"
            color="accent"
            (click)="continuar()"
            [disabled]="!formulario.valid">
            Abrir Diaria
            </button>
          <button class="btn btn-block-xs-only m-1 btn-secondary"
            (click)="volver()">
            Volver
            </button>
        </div>
      </div>
    </div>
  </div>
</div>