<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Estados
      <div class="card-header-actions">
        <button class="btn btn-sm btn-block btn-outline-success" type="button" (click)="nuevo()">
          <i class="alumno-docentes_estados"></i>
          Agregar nuevo Estado
        </button>
      </div>
    </div>
    <div class="card-body p-1">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" >
                <thead>
                <tr>
                    <th>Agregado</th>
                    <th class="no-sort">Estado</th>
                    <th class="no-sort">Efectivización</th>
                    <th class="no-sort">Fecha Finalización</th>
                    <th class="no-sort">Archivo</th>
                    <th class="no-sort"></th>
                </tr>
                </thead>
                <tbody *ngIf="dataSource?.length != 0">
                <tr *ngFor="let item of dataSource">
                    <td>{{ item.created_at | date:'dd/MM/yyyy' }}</td>
                    <td>{{ item.tipo.nombre }}</td>
                    <td>{{ item.fecha_inicial | date:'dd/MM/yy' }}</td>
                    <td>{{ item.fecha_final | date:'dd/MM/yy' }}</td>
                    <td>
                        <button *ngIf="item.archivo"
                            class="btn btn-sm btn-danger"
                            tooltip="Descargar"
                            (click)="archivo(item)">
                            <i class="fa fa-download"></i>
                        </button>
                        {{ item.archivo }}
                    </td>
                    <td>
                        <div class="btn-group" dropdown placement="bottom right" container="body">
                            <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                              <span class="caret"></span>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                                <li role="menuitem">
                                    <a class="dropdown-item" (click)="editar(item)" href="javascript:void(0);">
                                        <i class="fa fa-edit"></i>
                                        Editar
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a class="dropdown-item" (click)="editar(item)" href="javascript:void(0);">
                                        <i class="fa fa-trash" ></i>
                                        Eliminar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="dataSource?.length == 0">
                <tr>
                    <td colspan="4" class="no-data-available">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
      
    </div>
  </div>