<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Comisiones
  </div>
  <div class="card-body p-1">
    <div class="table-responsive">
      <table #baja datatable [dtOptions]="dtOptions" class="table row-border hover compact" width="100%" >
        <thead>
          <tr>
            <th>Agregado</th>
            <th class="no-sort">Numero</th>
            <th class="no-sort">Año</th>
            <th class="no-sort">Modalidad</th>
            <th class="no-sort">Alumnos</th>
            <th class="no-sort">Responsable</th>
          </tr>
        </thead>
        <tbody *ngIf="dataSource?.length != 0">
          <tr *ngFor="let item of dataSource">
            <td>{{ item.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>
              {{ item.numero }}
            </td>
            <td>
              {{ item.anio }}
            </td>
            <td>
              {{ item.modalidad?.nombre}}
            </td>
            <td>
              {{ item.alumnos_cantidad }}
            </td>
            <td>
              {{ item.responsable_apellido }} {{ item.responsable_nombre }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="dataSource?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    
  </div>
</div>
  