<div class="animated fadeIn" >
  <app-obligacion-siguiente-component #siguienteCuotaView
  [id_plan_pago]="id"
  [id_tipo_obligacion]="1">
  </app-obligacion-siguiente-component>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Generar pago
        </div>
        <div class="card-body">
          <form [formGroup]="formulario" >
            <div class="row">
              <div class="col-12">
                <div class="alert alert-danger" role="alert">
                  <div class="form-check d-inline m-3 mt-4">
                    <input class="form-check-input" type="checkbox" formControlName="especial_covid" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      PAGO ESPECIAL COVID (El monto por cuota baja a $3.000 como maximo)
                    </label>
                  </div>
                  <br/>
                  <div class="form-check d-inline m-3 mt-4">
                    <input class="form-check-input" type="checkbox" formControlName="especial_ahora_estudiantes" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                      Ahora estudiantes (Bonificando todos el interes generado de las cuotas a pagar)
                    </label>
                  </div>
                  <br/>
                  <div class="form-check d-inline m-3 mt-4">
                    <input class="form-check-input" type="checkbox" formControlName="especial_nov_dic_2020" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                      Noviembre/Diciembre 2020 (El monto por cuota baja a $3.000 como maximo)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="control-label">Importe (*)</label>
                <input currencyMask
                  required
                  formControlName="monto"
                  type="text" 
                  class="form-control {{ (f.monto.touched || f.monto.dirty)?(f.monto.invalid?'is-invalid':'is-valid'):''}}">
                <span *ngIf="formulario.get('monto').hasError('required')" class="help-block">
                  El importe es requerido
                </span>
              </div>
              <div class="form-group col-sm-3" >
                <label class="control-label">Fecha *</label>
                <input bsDatepicker
                  required
                  formControlName="fecha"
                  type="text" 
                  class="form-control {{ (f.fecha.touched || f.fecha.dirty)?(f.fecha.invalid?'is-invalid':'is-valid'):''}}" 
                  placeholder="Fecha">
              </div>
              <div class="form-check d-inline m-3 mt-4" *ngIf="!f.especial_covid.value && !f.especial_ahora_estudiantes.value && !f.especial_nov_dic_2020.value">
                <input class="form-check-input" type="checkbox" formControlName="bonificar_intereses" id="bonificar_intereses">
                <label class="form-check-label" for="bonificar_intereses">
                  Aplicar a Interes *
                </label>
              </div>
              <div class="form-check d-inline m-3 mt-4" *ngIf="!f.especial_covid.value && !f.especial_ahora_estudiantes.value && !f.especial_nov_dic_2020.value">
                <input class="form-check-input" type="checkbox" formControlName="bonificar_cuotas" id="bonificar_cuotas">
                <label class="form-check-label" for="bonificar_cuotas">
                  Bonificar cuota **
                </label>
              </div>
              <button 
                [disabled]="!formulario.valid"
                class="btn btn-danger d-inline m-3 mt-4" 
                (click)="preparar()" >
                VISTA PREVIA
              </button>
            </div>
            <div class="row">
              <div class="form-group col-sm-9">
                <label class="control-label">Descripcion</label>
                <input 
                  formControlName="descripcion"
                  type="text" 
                  class="form-control {{ (f.descripcion.touched || f.descripcion.dirty)?(f.descripcion.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Descripcion">
                <div *ngIf= "f.descripcion.invalid " class="invalid-feedback">
                  <span *ngIf="f.descripcion.hasError('maxLength')" class="help-block">
                    El campo no debe tener mas de 255 caracteres
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <label class="control-label">Forma de Pago (*)</label>
                <select 
                  class="form-control"
                  formControlName="id_forma_pago">
                  <option *ngFor="let item of formas" [value]="item.id">{{item.nombre}}</option>
                </select>
              </div>
              <div class="form-group col-sm-5">
                <label class="control-label">Numero de recibo </label>
                <input 
                  formControlName="numero_oficial"
                  type="text" 
                  class="form-control {{ (f.numero_oficial.touched || f.numero_oficial.dirty)?(f.numero_oficial.invalid?'is-invalid':'is-valid'):''}}">
                <div *ngIf= "f.numero_oficial.invalid " class="invalid-feedback">
                  <span *ngIf="f.numero_oficial.hasError('maxLength')" class="help-block">
                    El campo no debe tener mas de 255 caracteres
                  </span>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="formulario.get('id_forma_pago').value==2">
              <div class="form-group col-sm-3">
                <label class="control-label">Numero (*)</label>
                <input 
                  formControlName="cheque_numero"
                  type="text" 
                  class="form-control {{ (f.cheque_numero.touched || f.cheque_numero.dirty)?(f.cheque_numero.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Numero del cheque">
                <div *ngIf= "f.cheque_numero.invalid " class="invalid-feedback">
                  <span *ngIf="f.cheque_numero.hasError('maxLength')" class="help-block">
                    El campo no debe tener mas de 255 caracteres
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label class="control-label">Origen</label>
                <input 
                  formControlName="cheque_origen"
                  type="text" 
                  class="form-control {{ (f.cheque_origen.touched || f.cheque_origen.dirty)?(f.cheque_origen.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Origen del cheque">
                <div *ngIf= "f.cheque_origen.invalid " class="invalid-feedback">
                  <span *ngIf="f.cheque_origen.hasError('maxLength')" class="help-block">
                    El campo no debe tener mas de 255 caracteres
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label class="control-label">Banco</label>
                <input 
                  formControlName="cheque_banco"
                  type="text" 
                  class="form-control {{ (f.cheque_banco.touched || f.cheque_banco.dirty)?(f.cheque_banco.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Banco del cheque">
                <div *ngIf= "f.cheque_banco.invalid " class="invalid-feedback">
                  <span *ngIf="f.cheque_banco.hasError('maxLength')" class="help-block">
                    El campo no debe tener mas de 255 caracteres
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label class="control-label">Fecha vencimiento</label>
                <input bsDatepicker
                  formControlName="cheque_vencimiento"
                  type="text" 
                  class="form-control" 
                  placeholder="Fecha del vencimiento del cheque">
              </div>
            </div>
            <div class="row" *ngIf="formulario.get('id_forma_pago').value==6 || formulario.get('id_forma_pago').value==7">
              <div class="form-group col-sm-6">
                <label class="control-label">Numero de transacción</label>
                <input 
                  formControlName="numero_transaccion"
                  type="text" 
                  class="form-control"
                  placeholder="Numero de transaccion">
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" class="table row-border hover" width="100%" *ngIf="dataSource">
                  <thead>
                    <tr>
                      <th class="no-sort">Fecha</th>
                      <th class="no-sort">Concepto</th>
                      <th class="no-sort">Debe</th>
                      <th class="no-sort">Haber</th>
                      <th class="no-sort">Pago</th>
                      <th class="no-sort">Saldo</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="dataSource?.length != 0">
                    <tr *ngFor="let item of dataSource" >
                      <td>{{ item.obligacion.fecha_vencimiento | date:'dd/MM/yyyy'}}</td>
                      <td>{{ item.obligacion.descripcion }}</td>
                      <td>
                        ${{ item.monto | number:'1.2-2':'es-AR' }}
                      </td>
                      <td>
                        <ng-container *ngIf="item.bonificado">
                          <span class="badge badge-warning" >Bonificado</span><br>
                        </ng-container>
                        ${{ item.haber | number:'1.2-2':'es-AR' }}
                      </td>
                      <td>
                        ${{ item.pagado | number:'1.2-2':'es-AR' }}
                      </td>
                      <td>
                        ${{ item.saldo | number:'1.2-2':'es-AR' }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
            <button 
              [disabled]="disablePagar()"
              type="button" 
              class="btn btn-success btn-block-xs-only m-1" 
              (click)="confirmar()">REALIZAR PAGO</button>
            <button type="button" class="btn btn-ligth btn-block-xs-only m-1" (click)="volver()">CANCELAR</button>
            <ng-container *ngIf="disablePagar()">
              <small>Debe realizar la vista previa antes</small>
            </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <p>(*) Aplicar a intereses: el proceso de pago toma en cuenta los intereses, generados por las cuotas impagas, en el armado y distribución del monto.</p>
          <p>(**) Bonificar cuota: dado la cuota, si la fecha de imputacion es menor a 5 dias antes del vencimiento y el monto es superior o igual al saldo de la cuota menos el monto bonficable (${{precios?.bonificacion_monto|number:'1.2-2':'es-AR'}}). Entonces para esa cuota se crea una bonificacion.</p>
        </div>
      </div>
    </div>
  </div>
</div>