<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <app-mesa-detalle-component
        [mesa_examen]="mesa_examen"
        [collapsed]="true"
        *ngIf="mesa_examen">
      </app-mesa-detalle-component>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <strong>Mesa de examen - Materia</strong>
        </div>
        <div class="card-body" *ngIf="mesa_examen_materia">
          <div class="row" >
            <div class="form-group col-sm-6">
              <u>Materia:</u> {{mesa_examen_materia.materia.nombre}}
            </div>
            <div class="form-group col-sm-6">
              <u>Carrera:</u> {{mesa_examen_materia.carrera.nombre}}
            </div>
            <div class="form-group col-sm-6">
              <u>Plan de estudio:</u> {{mesa_examen_materia.materia.plan_estudio.nombre}} ({{mesa_examen_materia.materia.plan_estudio.anio}})
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-8">
              <u>Fecha provista:</u> {{mesa_examen_materia.fecha | date:'dd/MM/yyyy HH:mm'}}
            </div>
            <div class="form-group col-sm-4" *ngIf="mesa_examen_materia.fecha_cierre">
              <u>Fecha cierre:</u> {{mesa_examen_materia.fecha_cierre | date:'dd/MM/yyyy'}}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-5">
              <u>Ubicacion:</u> {{mesa_examen_materia.ubicacion}}
            </div>
            <div class="form-group col-sm-2">
              <u>Libro:</u> {{mesa_examen_materia.libro}}
            </div>
            <div class="form-group col-sm-5" >
              <u>Folios:</u> 
              <ng-container *ngIf="mesa_examen_materia.folio_libre">
                Libres:<b>{{mesa_examen_materia.folio_libre}}</b>
              </ng-container>
              <ng-container *ngIf="mesa_examen_materia.folio_libre">
                Promocionales:<b>{{mesa_examen_materia.folio_promocion}}</b>
              </ng-container>
              <ng-container *ngIf="mesa_examen_materia.folio_libre">
                Regulares:<b>{{mesa_examen_materia.folio_regular}}</b>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <u>Observaciones:</u> {{mesa_examen_materia.observaciones}}               
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-info btn-block-xs-only m-1"
            type="submit"
            color="accent"
            (click)="editar()">
            Editar
            </button>
        </div>
      </div>  
    </div>
    <div class="col-lg-6">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Docentes
            <div class="card-header-actions">
              <button class="btn btn-sm btn-block btn-success" type="button" (click)="docente_agregar()">Agregar Docente</button>
            </div>
          </div>
          <div class="card-body p-1">
            <div class="table-responsive">
              <table #secundario datatable [dtOptions]="dtOptionsDocente" [dtTrigger]="dtTriggerDocente" class="table row-border compact hover" width="100%">
                <thead>
                  <tr>
                    <th>Agregado</th>
                    <th class="no-sort">Docente</th>
                    <th class="no-sort">Tipo</th>
                    <th class="no-sort"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of dataSourceDocente">
                    <td>{{ item.created_at | date:'dd/MM/yyyy' }}</td>
                    <td>{{ item.usuario.apellido }} {{ item.usuario.nombre }}</td>
                    <td>{{ item.tipo?.nombre }}</td>
                    <td>
                      <div class="btn-group" dropdown placement="top right" container="body">
                        <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                          <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                          <li role="menuitem">
                            <a class="dropdown-item" (click)="docente_editar(item)" href="javascript:void(0);">
                              <i class="fa fa-edit"></i>
                              Editar
                            </a>
                          </li>
                          <li role="menuitem">
                            <a class="dropdown-item" (click)="docente_desasociar(item)" href="javascript:void(0);">
                              <i class="fa fa-remove"></i>
                              Remover
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
          <div class="card">
            <div class="card-header">
              <strong>Reportes</strong>
            </div>
            <div class="card-body p-1" >
              <div class="form-inline col-lg-12">
                <div class="col-6">
                    <label class="control-label">Acta Libres: </label>
                </div>
                <div class="btn-group m-1" role="group">
                  <button type="button" class="btn btn-sm btn-info" (click)="acta_reporte(1)">
                    <i class="fa fa-download"></i>
                    DESCARGAR
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary" (click)="acta_imprimir(1)" tooltip="IMPRIMIR">
                    <i class="fa fa-print"></i>
                  </button>
                </div>
              </div>
              <div class="form-inline col-lg-12">
                <div class="col-6">
                    <label class="control-label">Acta Promocionales: </label>
                </div>
                <div class="btn-group m-1" role="group">
                  <button type="button" class="btn btn-sm btn-info" (click)="acta_reporte(2)">
                    <i class="fa fa-download"></i>
                    DESCARGAR
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary" (click)="acta_imprimir(2)" tooltip="IMPRIMIR">
                    <i class="fa fa-print"></i>
                  </button>
                </div>
              </div>
              <div class="form-inline col-lg-12">
                <div class="col-6">
                    <label class="control-label">Acta Regulares: </label>
                </div>
                <div class="btn-group m-1" role="group">
                  <button type="button" class="btn btn-sm btn-info" (click)="acta_reporte(3)">
                    <i class="fa fa-download"></i>
                    DESCARGAR
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary" (click)="acta_imprimir(3)" tooltip="IMPRIMIR">
                    <i class="fa fa-print"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>  
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <button class="btn btn-secondary btn-block-xs-only m-1"
        [disabled]="consultando"
        (click)="volver_mesa_examen()">
        Mesa de Examen
        </button>
      <button class="btn btn-info btn-block-xs-only m-1"
        [disabled]="consultando"
        (click)="excel()">
        Excel de Inscriptos
        </button>
      <button class="btn btn-danger btn-block-xs-only m-1"
        [disabled]="consultando"
        (click)="notas()">
        Cerrar Mesa
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Alumnos inscriptos
        </div>
        <div class="card-body p-1">
          <div class="table-responsive">
            <table #principal datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover" width="100%">
              <thead>
                <tr>
                  <th>Agregado</th>
                  <th class="no-sort">Usuario</th>
                  <th class="no-sort">Alumno</th>
                  <th class="no-sort">Comision</th>
                  <th class="no-sort">C/Estado</th>
                  <th class="no-sort">Condicion</th>
                  <th class="no-sort">Adeuda</th>
                  <th class="no-sort">Detalles</th>
                  <th class="no-sort"></th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of dataSource">
                  <td>{{ item.created_at | date:'dd/MM/yyyy' }}</td>
                  <td>{{ item.usuario.apellido }} {{ item.usuario.nombre }}</td>
                  <td>
                    {{ item.alumno.apellido }} {{ item.alumno.nombre }} {{item.alumno.tipo_documento.nombre}}:&nbsp;{{ item.alumno.documento }}
                  </td>
                  <td>
                    <ng-container *ngIf="item.comision else sinComision">
                      Año:{{item.comision.comision.anio}} Nº:{{item.comision.comision.numero}}
                    </ng-container>
                    <ng-template #sinComision>
                      S/C
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="item.comision">
                      <b>{{item.comision.tipo?.nombre}}</b>
                      <ng-container *ngIf="item.comision.nota">
                        Nota:{{item.comision.nota}}
                      </ng-container>
                    </ng-container>
                  </td>
                  <td>
                    <ng-container *ngIf="item.condicion">
                      {{item.condicion?.nombre}}
                    </ng-container>
                  </td>
                  <td>
                    <ng-container *ngIf="item.adeuda else noAdeuda">
                      SI
                    </ng-container>
                    <ng-template #noAdeuda>
                      NO
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="item.nota">
                        Nota: {{ item.nota }} ({{ item.nota_nombre }})<br>
                    </ng-container>
                    <ng-container *ngIf="item.nota">
                      Final: {{ item.nota_final }} ({{ item.nota_final_nombre }})<br>
                    </ng-container>
                    <ng-container *ngIf="item.observaciones">
                        Obs: {{ item.observaciones }}
                    </ng-container>
                  </td>
                  <td>
                    <div class="btn-group" dropdown placement="top right" container="body">
                      <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                        <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="alumno_editar(item)" href="javascript:void(0);">
                            <i class="fa fa-edit"></i>
                            Editar
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="alumno_desasociar(item)" href="javascript:void(0);">
                            <i class="fa fa-remove"></i>
                            Dar de baja
                          </a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="constancia_descargar(item)" href="javascript:void(0);">
                            C/Descargar
                          </a>
                        </li>
                        <li role="menuitem">
                          <a class="dropdown-item" (click)="constancia_imprimir(item)" href="javascript:void(0);">
                            C/Imprimir
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-12">
              <p>
                S/C: No posee comision realizada, de acuerdo a la materia.
              </p>
            </div>
            <div class="col-12">
              <p>
                C/Estado: Datos del estado en que se encuentra el alumno en la comision.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>