<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>{{titulo}}</strong>
          <small> Formulario</small>
        </div>
        <div class="card-body">
          <form [formGroup]="formulario" >
            <div class="row">
              <div class="form-group col-sm-4 ">
                <label class="control-label">Año del curso (*)</label>
                <input
                  formControlName="anio"
                  type="number"
                  class="form-control {{ f.anio.invalid?'is-invalid':'is-valid'}}"
                  placeholder="YYYY">
                <div *ngIf= " (f.anio.touched || f.anio.dirty) && f.anio.invalid " class="invalid-feedback">
                  <span *ngIf="formulario.get('anio').hasError('required')" class="help-block">
                    El año es requerido
                  </span>
                  <span *ngIf="f.anio.hasError('min') " class="help-block">
                    Debe estar mayor que 1976
                  </span>
                  <span *ngIf="f.anio.hasError('max') " class="help-block">
                    Debe estar menor que {{maxYear}}
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Identificación (*)</label>
                <input
                  required
                  formControlName="numero"
                  type="number"
                  class="form-control {{ (f.numero.touched || f.numero.dirty)?(f.numero.invalid?'is-invalid':'is-valid'):''}}"
                  placeholder="Numero de la comision">
                <div *ngIf= " (f.numero.touched || f.numero.dirty) && f.numero.invalid " class="invalid-feedback">
                  <span *ngIf="formulario.get('numero').hasError('required')" class="help-block">
                    La identificacion es necesaria.
                  </span>
                  <span *ngIf="f.numero.hasError('min') " class="help-block">
                    Debe estar mayor o igual que 1
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Modalidad (*)</label>
                <ng-select [items]="modalidades"
                  [selectOnTab]="true"
                  placeholder="Seleccione la modalidad"
                  formControlName="id_modalidad"
                  bindValue="id"
                  bindLabel="nombre"
                  [clearable]="false">
                </ng-select>
              </div>
            </div>
            <div class="row" *ngIf="id==0">
              <div class="form-group col-sm-8">
                <label class="control-label">Carrera</label>
                <ng-select [items]="carreras"
                  [selectOnTab]="true"
                  (change)="seleccionar_carrera($event)"
                  placeholder="Seleccione la Carrera"
                  formControlName="id_carrera"
                  bindValue="id"
                  bindLabel="nombre"
                  [clearable]="false">
                </ng-select>
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Plan estudio</label>
                <ng-select [items]="planes_estudio"
                  [selectOnTab]="true"
                  (change)="seleccionar_plan_estudio($event)"
                  placeholder="Seleccione el Plan"
                  formControlName="id_plan_estudio"
                  bindValue="id"
                  bindLabel="codigo"
                  [clearable]="false">
                </ng-select>
              </div>
            </div>
            <div class="row" *ngIf="id==0">
              <div class="form-group col-sm-6">
                <label class="control-label">Materia (*)</label>
                <ng-select [items]="materias"
                  [selectOnTab]="true"
                  (change)="seleccionar_materia($event)"
                  bindValue="id"
                  bindLabel="nombre"
                  notFoundText="No hay materias en la carrera seleccionada"
                  placeholder="Seleccione la Materia"
                  formControlName="id_materia"
                  [clearable]="false">
                </ng-select>
              </div>
            </div>
            <div class="row" *ngIf="id>0">
              <div class="form-group col-sm-6" *ngIf="carrera">
                <label class="control-label">Carrera </label>
                <p>{{carrera.nombre}} ({{carrera.nombre_corto}})</p>
              </div>
              <div class="form-group col-sm-6" *ngIf="materia">
                <label class="control-label">Materia</label>
                <p>{{materia.nombre}} ({{materia.codigo}})</p>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <hr>
                <label class="control-label"><b>Automatizacion de la Asistencia</b> (Opcional)</label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label class="control-label">Inicio de clases</label>
                <input bsDatepicker
                  formControlName="clase_inicio"
                  type="text"
                  class="form-control"
                  placeholder="Fecha">
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Finalizacion de clases</label>
                <input bsDatepicker
                  formControlName="clase_final"
                  type="text"
                  class="form-control"
                  placeholder="Fecha">
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Activar Automatización.</label>
                <input type="checkbox" class="form-control" formControlName="asistencia">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p>Una vez este activada la automatizacion. La comision debé tener agregados horarios con la automatizacion activada (Asis. Aut). La generacion de asistencias se realiza una vez al dia a las 1:00 AM</p>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <hr>
                <label class="control-label"><b>Responsable de la comision</b></label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4" *ngIf="usuario_cambiar">
                <label class="control-label">Usuario</label>
                <ng-select [items]="usuarios"
                  bindLabel="email"
                  notFoundText="No se a encontrado al usuario"
                  [selectOnTab]="true"
                  (change)="seleccionar_usuario($event)"
                  [clearable]="false">
                  <ng-template ng-option-tmp let-item="item" >
                    {{item.email}} <br>
                    <small>{{item.apellido}} {{item.nombre}}</small>
                  </ng-template>
                </ng-select>
              </div>
              <div class="form-group col-sm-4" *ngIf="!usuario_cambiar">
                <label class="control-label">Usuario</label>
                <p>
                  <ng-component *ngIf="usuario else ninguno">
                    {{usuario.email}}
                  </ng-component>
                  <ng-template #ninguno>
                    SIN USUARIO
                  </ng-template>
                  <button class="btn btn-danger btn-sm" (click)="cambiar_usuario()">CAMBIAR</button>
                </p>
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Apellido (*)</label>
                <input
                  formControlName="responsable_apellido"
                  type="text"
                  class="form-control"
                  [readonly]="usuario_seleccionado"
                  placeholder="Apellido del responsable">
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Nombre (*)</label>
                <input
                  formControlName="responsable_nombre"
                  type="text"
                  class="form-control"
                  [readonly]="usuario_seleccionado"
                  placeholder="Nombre del responsable">
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <hr>
                <label class="control-label"><b>Docentes a cargo</b></label>
              </div>
            </div>
            <ng-container *ngIf="recomendaciones.length > 0">
              <div class="row animated fadeIn">
                <div class="col-sm-12">
                  <div class="card bg-secondary text-white">
                    <div class="card-body">
                      <h5 class="card-title">Sugeridos</h5>
                      <p class="card-text">La materia posee docentes asignados. Seleccione uno para agregarlo.</p>
                      <div class="table-responsive">
                        <table class="table table-light table-sm table-hover">
                          <thead class="thead-dark">
                            <tr>
                              <th >Asignado</th>
                              <th >Docente</th>
                              <th >Cargo</th>
                              <th ></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of recomendaciones">
                              <td>{{ item.fecha_asignacion | date:'dd/MM/yyyy' }}</td>
                              <td>{{ item.docente.usuario.apellido }}, {{ item.docente.usuario.nombre }}</td>
                              <td>
                                <ng-container *ngIf="item.cargo">
                                    {{ item.cargo.nombre }}
                                </ng-container>
                              </td>
                              <td>
                                <button [disabled]="!item.estado"
                                  class="btn btn-sm {{item.estado?'btn-primary':'btn-secondary'}} animated fadeIn"
                                  tooltip="Seleccionar"
                                  (click)="seleccionar_docente(item)">
                                    <span class="fa fa-check" ></span>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="row" *ngIf="docentes">
              <div class="form-group col-sm-12" >
                <label class="control-label">Docentes seleccionados</label>
                <ng-select [items]="docentes" #docentesSelect [compareWith]="compararDocente" [searchFn]="buscarDocente"
                  formControlName="docentes"
                  (remove)="docenteRemovido($event)"
                  (add)="docenteAgregado($event)"
                  [multiple]="true"
                  notFoundText="No se a encontrado al docente"
                  [selectOnTab]="true"
                  [clearable]="false">
                  <ng-template ng-option-tmp let-item="item" >
                    CUIT:{{item.cuit}} <br>
                    <small>{{item.usuario.apellido}} {{item.usuario.nombre}}</small>
                  </ng-template>
                  <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <span class="ng-value-label">{{item.usuario.apellido}} {{item.usuario.nombre}}</span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <hr>
                <label class="control-label"><b>Ajustes Adicionales</b></label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6 ">
                <label class="control-label">Id Aula Virtual (id_carrera)-(id_materia)-(id_curso)</label>
                <input
                  formControlName="id_aula_virtual"
                  type="text"
                  class="form-control {{ f.id_aula_virtual.invalid?'is-invalid':'is-valid'}}"
                  placeholder="123-123-1234">
                <div *ngIf= " (f.id_aula_virtual.touched || f.id_aula_virtual.dirty) && f.id_aula_virtual.invalid " class="invalid-feedback">
                  <span *ngIf="f.id_aula_virtual.hasError('maxLength') " class="help-block">
                    Supero la cantidad maxima de caracteres posibles
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-block-xs-only btn-success m-1"
            type="submit"
            color="accent"
            (click)="continuar()"
            [disabled]="consultando"
            [disabled]="!formulario.valid">
            Guardar Cambios
            </button>
          <button class="btn btn-block-xs-only btn-secondary m-1"
            [disabled]="consultando"
            (click)="volver()">
            Volver
            </button>
          <button class="btn btn-secondary btn-block-xs-only m-1" *ngIf="id>0"
            (click)="gestionar()">
            <i class="fa fa-cog"></i>
            Gestionar Comision
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
